.dropdown {
  overflow: hidden;
}
.dropdown.dropped {
  overflow: visible;
}
.dropdown-toggle.marker-on {
  padding-right: 32px;
}
.dropdown-toggle.marker-on::before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  content: "\276f";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  font-size: 1em;
  line-height: 32px;
  transform: rotate(90deg);
  transition: transform 0.3s;
  transform-origin: center center;
}
.dropdown-toggle.marker-on.dropped-toggle::before {
  transform: rotate(270deg);
}
.dropdown-menu {
  position: absolute;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none inside none;
  background-color: var(--menu-background);
  color: var(--menu-text-color);
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-menu.place-right {
  left: auto;
  right: 0;
}
.dropdown-menu {
  z-index: 1000;
}
.dropdown-menu li:first-child {
  margin-top: 4px;
}
.dropdown-menu li:last-child {
  margin-bottom: 4px;
}
.dropdown-menu li,
.dropdown-menu a {
  display: block;
  float: none;
  position: relative;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  height: auto;
}
.dropdown-menu li a {
  font-size: 14px;
  padding: 0 32px 0 34px;
  height: 32px;
  display: flex;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
}
.dropdown-menu li a:hover {
  text-decoration: none;
}
.dropdown-menu li a img,
.dropdown-menu li a .icon {
  display: block;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  left: 8px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  color: inherit;
}
.dropdown-menu li a img::before,
.dropdown-menu li a .icon::before {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.2rem;
}
.dropdown-menu li a::before {
  height: 38px!important;
  line-height: 38px!important;
}
.dropdown-menu li.active {
  border-left: 2px solid;
  border-color: var(--border-color);
}
.dropdown-menu li.active > a {
  background-color: var(--menu-background-active);
  color: var(--menu-text-color-active);
  font-weight: bold;
}
.dropdown-menu li:hover {
  text-decoration: none;
  background-color: var(--menu-background-active);
}
.dropdown-menu li:hover > a,
.dropdown-menu li:hover .icon {
  color: var(--menu-text-color-active);
}
.dropdown-menu li a[data-hotkey] {
  padding-right: 4rem;
}
.dropdown-menu li a[data-hotkey]::after {
  content: attr(data-hotkey);
  position: absolute;
  right: 1.2rem;
  width: auto;
  font-size: 0.8em;
}
.dropdown-menu li a.dropdown-toggle::before {
  transform: rotate(0deg);
}
.dropdown-menu li a.dropdown-toggle.dropped-toggle::before {
  transform: rotate(180deg);
}
.dropdown-menu .divider {
  padding: 0;
  height: 1px;
  margin: 4px 8px;
  overflow: hidden;
  background-color: var(--border-color);
  cursor: default;
  pointer-events: none;
}
.dropdown-menu .divider:hover {
  background-color: var(--border-color);
}
.dropdown-menu.disabled {
  cursor: default;
  pointer-events: none;
}
.dropdown-menu.disabled a {
  color: var(--disabled-text);
}
.dropdown-menu .menu-title {
  background-color: var(--menu-title-background);
  color: var(--menu-title-text-color);
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  padding: 0 8px;
  border: 0;
  font-weight: bold;
  pointer-events: none;
}
.dropdown-menu .menu-title:first-child {
  margin: 0;
  border-top-width: 0;
}
.dropdown-menu .menu-title:first-child:hover {
  border-top-width: 0;
}
.dropdown-menu .menu-title:hover {
  background-color: #f6f7f8;
  cursor: default;
  border: 0;
}
.dropdown-menu .dropdown-menu {
  left: 100%;
  top: -0.5rem;
}
.drop-left {
  right: 100%!important;
  top: 0!important;
}
.drop-right {
  left: 100%!important;
  top: 0!important;
}
.drop-up {
  top: auto!important;
  bottom: 100%!important;
}
.drop-up-left {
  top: auto!important;
  bottom: 100%!important;
  left: 0;
}
.drop-up-right {
  top: auto!important;
  bottom: 100%!important;
  right: 0!important;
}
.drop-down {
  top: 100%!important;
  bottom: auto!important;
}
.drop-down-left {
  top: 100%!important;
  bottom: auto!important;
  left: 0!important;
}
.drop-down-right {
  top: 100%!important;
  bottom: auto!important;
  right: 0!important;
}
/*# sourceMappingURL=dropdown.css.map */