.appbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 52px;
  z-index: 1030;
  background-color: var(--appbar-background);
  color: var(--appbar-text-color);
  flex-flow: row wrap;
  align-items: center;
}
.appbar-brand,
.appbar-item,
.appbar-container,
.appbar-button {
  display: flex;
  align-items: center;
  position: relative;
  height: 52px;
  line-height: 52px;
  padding: 0 16px;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  flex-shrink: 0;
  border: none;
  justify-content: center;
}
.appbar-brand:focus,
.appbar-item:focus,
.appbar-container:focus,
.appbar-button:focus {
  outline: none;
}
.appbar-container {
  background-color: inherit;
  color: inherit;
  padding: 0;
}
.appbar-item {
  white-space: nowrap;
}
.appbar-button {
  width: 52px;
  padding: 0;
}
.appbar-menu {
  flex-shrink: 0;
  list-style: none inside;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: inherit;
  color: inherit;
}
.appbar-menu > li,
.appbar-menu > li > a {
  display: block;
  line-height: 32px;
  background-color: inherit;
  color: inherit;
  flex-shrink: 0;
}
.appbar-menu > li > a {
  padding: 0 16px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
.appbar-menu > li {
  position: relative;
}
.appbar-menu a:hover {
  text-decoration: none;
  color: var(--appbar-text-color-hover);
}
.appbar-brand:not(.no-hover):hover,
.appbar-menu li:not(.no-hover):hover,
.appbar .hamburger:not(.no-hover):hover,
.appbar-item:not(.no-hover):hover,
.appbar-brand:not(.no-hover):active,
.appbar-menu li:not(.no-hover):active,
.appbar .hamburger:not(.no-hover):active,
.appbar-item:not(.no-hover):active,
.appbar-brand:not(.no-hover) .active,
.appbar-menu li:not(.no-hover) .active,
.appbar .hamburger:not(.no-hover) .active,
.appbar-item:not(.no-hover) .active {
  background: var(--appbar-background-hover);
  color: var(--appbar-text-color-hover);
}
.appbar .hamburger {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 52px;
  width: 52px;
}
.appbar .hamburger.chevron-down.active .line:nth-child(1),
.appbar .hamburger.chevron-down.active .line:nth-child(3) {
  margin: -4px 16px;
}
.appbar-menu .dropdown-menu {
  box-shadow: none;
  position: relative;
  width: 100%;
}
.appbar-menu .dropdown-menu .dropdown-menu {
  top: 0;
}
.appbar-menu .divider,
.appbar-container .divider {
  height: 1px!important;
  line-height: 1px!important;
}
.appbar-container .dropdown-menu {
  position: absolute;
  width: auto;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.appbar-container > .dropdown-menu {
  top: 100%;
}
.appbar-container a {
  color: inherit;
  text-decoration: none;
}
a {
  outline: none!important;
}
.appbar-menu .dropdown-menu .dropdown-menu {
  left: 0;
}
.appbar-menu.opened {
  max-height: calc(100vh - 52px);
  overflow-y: auto;
}
.appbar .appbar-input {
  width: 100px;
  height: 30px;
  font-size: 0.875rem;
  border: none!important;
  border-radius: var(--element-border-radius);
}
.appbar .hamburger:not(.hidden) ~ .ml-auto {
  margin-right: 52px;
}
.appbar .theme-toggle-wrapper ~ .ml-auto {
  margin-right: 52px;
}
.appbar-expand {
  flex-wrap: nowrap;
  flex-flow: row;
}
.appbar-expand .appbar-brand,
.appbar-expand .appbar-item,
.appbar-expand .appbar-container {
  width: auto;
  flex-shrink: 1;
}
.appbar-expand .appbar-menu {
  float: left;
}
.appbar-expand .appbar-menu {
  width: auto;
  flex-direction: row;
}
.appbar-expand .appbar-menu .dropdown-menu {
  position: absolute;
  width: auto;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.appbar-expand .appbar-menu.collapsed {
  display: flex!important;
}
.appbar-expand .appbar-menu .dropdown-menu .dropdown-menu {
  left: 100%;
}
.appbar-expand .hamburger {
  display: none;
}
.p-ab {
  padding-top: 52px!important;
}
.m-ab {
  margin-top: 52px!important;
}
.h-ab {
  height: calc(100% - 52px);
}
.appbar .theme-toggle-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.appbar .hamburger:not(.hidden) ~ .theme-toggle-wrapper {
  right: 52px;
}
/*# sourceMappingURL=appbar.css.map */