@import "../../include/transition";
@import "../../include/icons";

[class*=ico-] {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: none!important;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: @transition-base;
    margin: auto;

    &.hovered {
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

.ico-loop {background-image: url(@loopIcon);}
.ico-play {background-image: url(@playIcon);}
.ico-pause {background-image: url(@pauseIcon);}
.ico-stop {background-image: url(@stopIcon);}
.ico-mute {background-image: url(@muteIcon);}
.ico-low-volume {background-image: url(@volumeLowIcon);}
.ico-medium-volume {background-image: url(@volumeMediumIcon);}
.ico-high-volume {background-image: url(@volumeHighIcon);}
.ico-enlarge {background-image: url(@enlargeIcon);}
.ico-shrink {background-image: url(@shrinkIcon);}
.ico-playlist {background-image: url(@playlistIcon);}
.ico-next {background-image: url(@nextIcon);}
.ico-prev {background-image: url(@prevIcon);}
.ico-first {background-image: url(@firstIcon);}
.ico-last {background-image: url(@lastIcon);}
.ico-forward {background-image: url(@forwardIcon);}
.ico-backward {background-image: url(@backwardIcon);}
.ico-eject {background-image: url(@ejectIcon);}
.ico-shuffle {background-image: url(@shuffleIcon);}

.dark-mode {
    .ico-loop {background-image: url(@loopIconLight);}
    .ico-play {background-image: url(@playIconLight);}
    .ico-pause {background-image: url(@pauseIconLight);}
    .ico-stop {background-image: url(@stopIconLight);}
    .ico-mute {background-image: url(@muteIconLight);}
    .ico-low-volume {background-image: url(@volumeLowIconLight);}
    .ico-medium-volume {background-image: url(@volumeMediumIconLight);}
    .ico-high-volume {background-image: url(@volumeHighIconLight);}
    .ico-enlarge {background-image: url(@enlargeIconLight);}
    .ico-shrink {background-image: url(@shrinkIconLight);}
    .ico-playlist {background-image: url(@playlistIconLight);}
    .ico-next {background-image: url(@nextIconLight);}
    .ico-prev {background-image: url(@prevIconLight);}
    .ico-first {background-image: url(@firstIconLight);}
    .ico-last {background-image: url(@lastIconLight);}
    .ico-forward {background-image: url(@forwardIconLight);}
    .ico-backward {background-image: url(@backwardIconLight);}
    .ico-eject {background-image: url(@ejectIconLight);}
    .ico-shuffle {background-image: url(@shuffleIconLight);}
}