.clear-float::after {
  display: block;
  clear: both;
  content: "";
}
.place-right,
.float-right {
  float: right !important;
}
.place-left,
.float-left {
  float: left !important;
}
.place-none,
.float-none,
.no-float {
  float: none !important;
}
@media screen and (min-width: 0) {
  .place-left-fs {
    float: left!important;
  }
  .place-right-fs {
    float: right!important;
  }
  .place-none-fs {
    float: none!important;
  }
  .float-left-fs {
    float: left!important;
  }
  .float-right-fs {
    float: right!important;
  }
  .float-none-fs {
    float: none!important;
  }
}
@media screen and (min-width: 360px) {
  .place-left-xs {
    float: left!important;
  }
  .place-right-xs {
    float: right!important;
  }
  .place-none-xs {
    float: none!important;
  }
  .float-left-xs {
    float: left!important;
  }
  .float-right-xs {
    float: right!important;
  }
  .float-none-xs {
    float: none!important;
  }
}
@media screen and (min-width: 576px) {
  .place-left-sm {
    float: left!important;
  }
  .place-right-sm {
    float: right!important;
  }
  .place-none-sm {
    float: none!important;
  }
  .float-left-sm {
    float: left!important;
  }
  .float-right-sm {
    float: right!important;
  }
  .float-none-sm {
    float: none!important;
  }
}
@media screen and (min-width: 640px) {
  .place-left-ld {
    float: left!important;
  }
  .place-right-ld {
    float: right!important;
  }
  .place-none-ld {
    float: none!important;
  }
  .float-left-ld {
    float: left!important;
  }
  .float-right-ld {
    float: right!important;
  }
  .float-none-ld {
    float: none!important;
  }
}
@media screen and (min-width: 768px) {
  .place-left-md {
    float: left!important;
  }
  .place-right-md {
    float: right!important;
  }
  .place-none-md {
    float: none!important;
  }
  .float-left-md {
    float: left!important;
  }
  .float-right-md {
    float: right!important;
  }
  .float-none-md {
    float: none!important;
  }
}
@media screen and (min-width: 992px) {
  .place-left-lg {
    float: left!important;
  }
  .place-right-lg {
    float: right!important;
  }
  .place-none-lg {
    float: none!important;
  }
  .float-left-lg {
    float: left!important;
  }
  .float-right-lg {
    float: right!important;
  }
  .float-none-lg {
    float: none!important;
  }
}
@media screen and (min-width: 1200px) {
  .place-left-xl {
    float: left!important;
  }
  .place-right-xl {
    float: right!important;
  }
  .place-none-xl {
    float: none!important;
  }
  .float-left-xl {
    float: left!important;
  }
  .float-right-xl {
    float: right!important;
  }
  .float-none-xl {
    float: none!important;
  }
}
@media screen and (min-width: 1452px) {
  .place-left-xxl {
    float: left!important;
  }
  .place-right-xxl {
    float: right!important;
  }
  .place-none-xxl {
    float: none!important;
  }
  .float-left-xxl {
    float: left!important;
  }
  .float-right-xxl {
    float: right!important;
  }
  .float-none-xxl {
    float: none!important;
  }
}
@media screen and (min-width: 2000px) {
  .place-left-xxxl {
    float: left!important;
  }
  .place-right-xxxl {
    float: right!important;
  }
  .place-none-xxxl {
    float: none!important;
  }
  .float-left-xxxl {
    float: left!important;
  }
  .float-right-xxxl {
    float: right!important;
  }
  .float-none-xxxl {
    float: none!important;
  }
}
/*# sourceMappingURL=float.css.map */