@import "../../include/media";
@import "../../include/mixins";

.clear-float {
  .clear();
}

.place-right, .float-right {float: right !important;}
.place-left, .float-left {float: left !important;}
.place-none, .float-none, .no-float {float: none !important;}

each(@media-rules, {
  @media screen and (min-width: @value) {
    .place-left-@{key} {float: left!important;}
    .place-right-@{key} {float: right!important;}
    .place-none-@{key} {float: none!important;}
    .float-left-@{key} {float: left!important;}
    .float-right-@{key} {float: right!important;}
    .float-none-@{key} {float: none!important;}
  }
})