.overflow {
  overflow: auto;
}
.no-overflow {
  overflow: hidden;
}
.scroll {
  overflow: scroll;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}
.no-scroll {
  overflow: hidden;
}
.no-scroll-x {
  overflow-x: hidden;
}
.no-scroll-y {
  overflow-y: hidden;
}
.wrap {
  white-space: normal;
}
.no-wrap {
  white-space: nowrap;
}
.no-user-select {
  user-select: none;
}
.no-appearance {
  appearance: none;
}
.disabled,
.-disabled {
  pointer-events: none;
  color: #e6e6e6;
}
.stop-pointer {
  pointer-events: none;
  user-select: none;
}
@media screen and (min-width: 0) {
  .overflow-fs {
    overflow: auto;
  }
  .no-overflow-fs {
    overflow: hidden;
  }
  .scroll-fs {
    overflow: scroll;
  }
  .scroll-x-fs {
    overflow-x: auto;
  }
  .scroll-y-fs {
    overflow-y: auto;
  }
  .no-scroll-fs {
    overflow: hidden;
  }
  .no-scroll-x-fs {
    overflow-x: hidden;
  }
  .no-scroll-y-fs {
    overflow-y: hidden;
  }
  .wrap-fs {
    white-space: normal;
  }
  .no-wrap-fs {
    white-space: nowrap;
  }
}
@media screen and (min-width: 360px) {
  .overflow-xs {
    overflow: auto;
  }
  .no-overflow-xs {
    overflow: hidden;
  }
  .scroll-xs {
    overflow: scroll;
  }
  .scroll-x-xs {
    overflow-x: auto;
  }
  .scroll-y-xs {
    overflow-y: auto;
  }
  .no-scroll-xs {
    overflow: hidden;
  }
  .no-scroll-x-xs {
    overflow-x: hidden;
  }
  .no-scroll-y-xs {
    overflow-y: hidden;
  }
  .wrap-xs {
    white-space: normal;
  }
  .no-wrap-xs {
    white-space: nowrap;
  }
}
@media screen and (min-width: 576px) {
  .overflow-sm {
    overflow: auto;
  }
  .no-overflow-sm {
    overflow: hidden;
  }
  .scroll-sm {
    overflow: scroll;
  }
  .scroll-x-sm {
    overflow-x: auto;
  }
  .scroll-y-sm {
    overflow-y: auto;
  }
  .no-scroll-sm {
    overflow: hidden;
  }
  .no-scroll-x-sm {
    overflow-x: hidden;
  }
  .no-scroll-y-sm {
    overflow-y: hidden;
  }
  .wrap-sm {
    white-space: normal;
  }
  .no-wrap-sm {
    white-space: nowrap;
  }
}
@media screen and (min-width: 640px) {
  .overflow-ld {
    overflow: auto;
  }
  .no-overflow-ld {
    overflow: hidden;
  }
  .scroll-ld {
    overflow: scroll;
  }
  .scroll-x-ld {
    overflow-x: auto;
  }
  .scroll-y-ld {
    overflow-y: auto;
  }
  .no-scroll-ld {
    overflow: hidden;
  }
  .no-scroll-x-ld {
    overflow-x: hidden;
  }
  .no-scroll-y-ld {
    overflow-y: hidden;
  }
  .wrap-ld {
    white-space: normal;
  }
  .no-wrap-ld {
    white-space: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .overflow-md {
    overflow: auto;
  }
  .no-overflow-md {
    overflow: hidden;
  }
  .scroll-md {
    overflow: scroll;
  }
  .scroll-x-md {
    overflow-x: auto;
  }
  .scroll-y-md {
    overflow-y: auto;
  }
  .no-scroll-md {
    overflow: hidden;
  }
  .no-scroll-x-md {
    overflow-x: hidden;
  }
  .no-scroll-y-md {
    overflow-y: hidden;
  }
  .wrap-md {
    white-space: normal;
  }
  .no-wrap-md {
    white-space: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .overflow-lg {
    overflow: auto;
  }
  .no-overflow-lg {
    overflow: hidden;
  }
  .scroll-lg {
    overflow: scroll;
  }
  .scroll-x-lg {
    overflow-x: auto;
  }
  .scroll-y-lg {
    overflow-y: auto;
  }
  .no-scroll-lg {
    overflow: hidden;
  }
  .no-scroll-x-lg {
    overflow-x: hidden;
  }
  .no-scroll-y-lg {
    overflow-y: hidden;
  }
  .wrap-lg {
    white-space: normal;
  }
  .no-wrap-lg {
    white-space: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .overflow-xl {
    overflow: auto;
  }
  .no-overflow-xl {
    overflow: hidden;
  }
  .scroll-xl {
    overflow: scroll;
  }
  .scroll-x-xl {
    overflow-x: auto;
  }
  .scroll-y-xl {
    overflow-y: auto;
  }
  .no-scroll-xl {
    overflow: hidden;
  }
  .no-scroll-x-xl {
    overflow-x: hidden;
  }
  .no-scroll-y-xl {
    overflow-y: hidden;
  }
  .wrap-xl {
    white-space: normal;
  }
  .no-wrap-xl {
    white-space: nowrap;
  }
}
@media screen and (min-width: 1452px) {
  .overflow-xxl {
    overflow: auto;
  }
  .no-overflow-xxl {
    overflow: hidden;
  }
  .scroll-xxl {
    overflow: scroll;
  }
  .scroll-x-xxl {
    overflow-x: auto;
  }
  .scroll-y-xxl {
    overflow-y: auto;
  }
  .no-scroll-xxl {
    overflow: hidden;
  }
  .no-scroll-x-xxl {
    overflow-x: hidden;
  }
  .no-scroll-y-xxl {
    overflow-y: hidden;
  }
  .wrap-xxl {
    white-space: normal;
  }
  .no-wrap-xxl {
    white-space: nowrap;
  }
}
@media screen and (min-width: 2000px) {
  .overflow-xxxl {
    overflow: auto;
  }
  .no-overflow-xxxl {
    overflow: hidden;
  }
  .scroll-xxxl {
    overflow: scroll;
  }
  .scroll-x-xxxl {
    overflow-x: auto;
  }
  .scroll-y-xxxl {
    overflow-y: auto;
  }
  .no-scroll-xxxl {
    overflow: hidden;
  }
  .no-scroll-x-xxxl {
    overflow-x: hidden;
  }
  .no-scroll-y-xxxl {
    overflow-y: hidden;
  }
  .wrap-xxxl {
    white-space: normal;
  }
  .no-wrap-xxxl {
    white-space: nowrap;
  }
}
/*# sourceMappingURL=misc.css.map */