.card {
  display: flex;
  flex-flow: column;
  position: relative;
  font-size: 0.875rem;
  width: calc(100% - 1rem);
  margin: 8px auto;
  border-radius: var(--window-border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--card-background);
  color: var(--card-text-color);
}
.card__header {
  border-bottom: 1px var(--border-color) solid;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px 2px 0 0;
  display: block;
}
.card__header .avatar {
  float: left;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.card__header .avatar img {
  width: 100%;
  min-height: 100%;
}
.card__header .name {
  margin-left: 3.375rem;
  font-weight: 500;
}
.card__header .date {
  margin-left: 3.375rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--card-text-color-secondary);
}
.card__content {
  display: block;
}
.card__footer {
  border-top: 1px var(--border-color) solid;
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  margin-top: auto;
}
.card.image-header .card__header {
  height: 9rem;
  vertical-align: bottom;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.card.image-header .card__header .avatar {
  border-radius: 50%;
  border: 2px solid var(--border-color);
}
* + .card {
  margin-top: 16px;
}
.icon-card {
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--icon-card-background);
  color: var(--icon-card-text-color);
  position: relative;
  border-radius: var(--window-border-radius);
  overflow: hidden;
}
.icon-card .icon {
  position: relative;
}
.icon-card .icon {
  height: 90px;
  width: 90px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}
.icon-card .icon > * {
  font-size: 45px;
  width: 45px;
  height: 45px;
  line-height: 1;
}
.icon-card .content {
  position: relative;
  width: 100%;
}
.icon-card-more {
  height: 128px;
  display: flex;
  flex-flow: row wrap;
}
.icon-card-more .icon,
.icon-card-more .content {
  position: relative;
}
.icon-card-more .icon {
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 16px;
  transition: transform 0.3s ease;
}
.icon-card-more .icon > * {
  font-size: 64px;
  width: 64px;
  height: 64px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.15);
}
.icon-card-more .content {
  line-height: 1.2;
  display: block;
  order: 1;
  padding: 8px;
  max-width: calc(100% - 106px);
}
.icon-card-more .more {
  width: 100%;
  flex-shrink: 0;
  text-align: right;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  position: relative;
  display: block;
  padding: 8px 8px 0;
  margin: 0;
  order: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.icon-card-more .more:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.icon-card-more:hover .icon {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
/*# sourceMappingURL=cards.css.map */