@import "../../include/transition";
@import "../../include/icons";

[class*=ico-] {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: none!important;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: @transition-base;
    margin: auto;

    &.hovered {
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

.ico-check {background-image: url(@checkIcon);}
.ico-cross {background-image: url(@crossIcon);}
.ico-search {background-image: url(@searchIcon);}
.ico-eye {background-image: url(@eyeIcon);}
.ico-plus {background-image: url(@plusIcon);}
.ico-minus {background-image: url(@minusIcon);}
.ico-help {background-image: url(@helpIcon);}
.ico-left-arrow {background-image: url(@leftArrowIcon);}
.ico-right-arrow {background-image: url(@rightArrowIcon);}
.ico-calendar {background-image: url(@calendarIcon);}
.ico-clock {background-image: url(@clockIcon);}
.ico-menu {background-image: url(@menuIcon);}
.ico-pencil {background-image: url(@pencilIcon);}
.ico-chevron-left {background-image: url(@chevronLeftIcon);}
.ico-chevron-right {background-image: url(@chevronRightIcon);}
.ico-chevron-down {background-image: url(@chevronRightIcon); transform: rotate(90deg);}
.ico-chevron-up {background-image: url(@chevronRightIcon); transform: rotate(-90deg);}
.ico-share {background-image: url(@shareIcon);}
.ico-equalizer {background-image: url(@equalizerIcon);}
.ico-random {background-image: url(@randomIcon);}

.dark-mode {
    .ico-check {background-image: url(@checkIconLight);}
    .ico-cross {background-image: url(@crossIconLight);}
    .ico-search {background-image: url(@searchIconLight);}
    .ico-eye {background-image: url(@eyeIconLight);}
    .ico-plus {background-image: url(@plusIconLight);}
    .ico-minus {background-image: url(@minusIconLight);}
    .ico-help {background-image: url(@helpIconLight);}
    .ico-left-arrow {background-image: url(@leftArrowIconLight);}
    .ico-right-arrow {background-image: url(@rightArrowIconLight);}
    .ico-calendar {background-image: url(@calendarIconLight);}
    .ico-clock {background-image: url(@clockIconLight);}
    .ico-menu {background-image: url(@menuIconLight);}
    .ico-pencil {background-image: url(@pencilIconLight);}
    .ico-chevron-left {background-image: url(@chevronLeftIconLight);}
    .ico-chevron-right {background-image: url(@chevronRightIconLight);}
    .ico-chevron-down {background-image: url(@chevronRightIconLight);}
    .ico-chevron-up {background-image: url(@chevronRightIconLight);}
    .ico-share {background-image: url(@shareIconLight);}
    .ico-equalizer {background-image: url(@equalizerIconLight);}
    .ico-random {background-image: url(@randomIconLight);}
}