@import "../../include/colors";
@import "../../include/mixins";
@import "../../include/z-index";

:root {
    --tools-menu-item-background: #ffffff;
    --tools-menu-item-text-color: #000000;
    --tools-menu-item-hover: rgba(red(@dark), green(@dark), blue(@dark), .1);
}

.dark-mode {
    --tools-menu-item-background: #3c3f41;
    --tools-menu-item-text-color: #ffffff;
    --tools-dropdown-toggle: #ffffff;
    --tools-menu-item-hover: rgba(red(@dark), green(@dark), blue(@dark), .1);
}

.tools-menu {
    list-style: none inside;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    float: left;
    background-color: var(--tools-menu-item-background);
    color: var(--tools-menu-item-text-color);
    border-collapse: separate;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;

    &.horizontal {
        flex-flow: row nowrap;
    }

    & > li {
        position: relative;
        background-color: inherit;
        color: inherit;
        display: block;

        & > a {
            display: block;
            padding: 0 16px;
            border-bottom: 1px var(--border-color) solid;
            position: relative;
            color: inherit;
            background-color: inherit;
            height: 60px;
            width: 60px;
            line-height: 60px;

            .icon {
                width: 24px;
                height: 24px;
                font-size: 24px;
                line-height: 60px;
            }
        }

        &:hover {
            background-color: var(--tools-menu-item-hover);
        }

        &:last-child {
            a {border-bottom: 0;}
        }
    }

    a {
        text-decoration: none!important;
        &:hover {
            text-decoration: none!important;
        }
    }

    .default-shadow();
}

.tools-menu {
    .tools-menu {
        position: absolute;
        left: 100%;
        margin-left: .3125rem ;
        top: 0;
        float: none;
    }
}

.tools-menu.horizontal {
    .tools-menu {
        left: 0 ;
        top: 100% ;
        margin-top: .3125rem ;
        margin-left: 0 ;
    }
}

.tools-menu {
    .dropdown-toggle {
        padding-right: 1rem!important;
        &:after {
            content: "";
            background-color: transparent;
            position: absolute;
            left: auto;
            top: auto;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 8px 8px;
            border-color: transparent transparent var(--border-color) transparent;
            .rotate(0);
        }

        &:before {
            display: none;
        }
    }
}

.tools-menu.horizontal {
    & > li {
        & > a {
            border-right: 1px var(--border-color) solid;
            border-bottom: 0;
        }

        &:last-child {
            & > a {
                border-right: 0;
            }
        }
    }
}

.tools-menu.horizontal {
    .tools-menu:not(.horizontal) {
        left: 0;
        top: 100% ;
        margin-top: 5px ;
        margin-left: 0 ;

        .tools-menu.horizontal {
            left: 100% ;
            margin-left: 5px ;
            top: -5px;
            float: left;
        }
    }
}

.tools-menu {
    &.compact {
        li {
            a {
                padding: 0 .7rem;
                width: 40px;
                height: 40px;
                line-height: 40px;

                .icon {
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }

        .dropdown-toggle {
            padding-right: 12px!important;
        }
    }
}

.tools-menu {
    z-index: @zindex-dropdown;
}