// Light color scheme
:root {
    --body-background: #fff;
    --text-color-secondary: #000;
    --text-color: #000;
    --body-color-invert: #fff;
    --border-color: #C0C0C0FF;
    --link-color: #067bb6;
    --link-color-hover: #05496b;
    --secondary-color: #777;
    --invert-background: rgb(252, 248, 227);
    --invert-color: rgb(2, 2, 2);
    --code-background: #f8f9fa;
    --code-color: #bd4147;
    --kbd-background: #1e2228;
    --kbd-color: #ffffff;
    --control-color: #ebebeb;
    --disable-color: #ececec;
    --shadow-color: rgba(0, 0, 0, 0.4);

    --menu-background: #ebebeb;
    --menu-text-color: #000000;
    --menu-background-active: rgba(red(#000), green(#000), blue(#000), .1);
    --menu-text-color-active: #ffffff;
    --menu-title-background: #9f9f9f;
    --menu-title-text-color: #ffffff;

    --appbar-background: #ebebeb;
    --appbar-text-color: #000000;
    --appbar-background-hover: rgba(red(#1e2228), green(#1e2228), blue(#1e2228), .1);
    --appbar-text-color-hover: #000000;

    --breadcrumbs-color-hover: #000000;

    --image-button-primary-color: #ebebeb;
    --image-button-secondary-color: #777777;
    --image-button-text-color: #000000;
    --image-button-icon-color: #ffffff;

    --info-button-background: #ffffff;
    --info-button-background-primary: #777777;
    --info-button-text-color: #000000;
    --info-button-text-color-primary: #ffffff;

    --toolbar-before-color: #777777;
    --toolbar-background: #ffffff;

    --calendar-background: #ffffff;
    --calendar-header-background: #ebebeb;
    --calendar-header-text-color: #000000;
    --calendar-weekday: #eeeeee;
    --calendar-exclude: #ededed;
    --calendar-time-background: #ffffff;
    --calendar-time-text-color: #565656;
    --calendar-outside-text-color: #777777;
    --calendar-event:  #e30f0f;
    --calendar-internal-border: #f5f5f5;
    --calendar-today-color: #565656;
    --calendar-today-text-color: #ffffff;
    --calendar-special-text-color: #0b98dc;
    --calendar-weekend-text-color: #e30f0f;

    --toast-background: #777777;
    --toast-text-color: #ffffff;

    --cookie-disclaimer-background: #ffffff;
    --cookie-disclaimer-text-color: #000000;

    --analog-clock-background: #ffffff;
    --analog-clock-dot: #000000;
    --analog-clock-hour: #000000;
    --analog-clock-minute: #000000;
    --analog-clock-second: #e30f0f;
    --analog-clock-tick-major: #000000;
    --analog-clock-tick-minor: #b6b6b6;
}

// Dark colorscheme
.dark-mode {
    --body-background: #1e2228;
    --text-color-secondary: #adbaa9;
    --text-color: #ffffff;
    --border-color: #444c56;
    --link-color: #4db5ff;
    --secondary-color: #777;
    --invert-background: rgb(252, 248, 227);
    --invert-color: rgb(2, 2, 2);
    --code-background: #f8f9fa;
    --code-color: #bd4147;
    --kbd-background: #1e2228;
    --kbd-color: #ffffff;
    --control-color: #2b2d30;
    --disable-color: #ececec;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --menu-background: #3c3f41;
    --menu-text-color: #adbaa9;
    --menu-background-active: rgba(red(#fff), green(#fff), blue(#fff), .1);
    --menu-text-color-active: #ffffff;
    --menu-title-background: #1d2121;
    --menu-title-text-color: #ffffff;

    --appbar-background: #2b2d30;
    --appbar-text-color: #adbaa9;
    --appbar-background-hover: rgba(red(#000), green(#000), blue(#000), .1);;
    --appbar-text-color-hover: #fff;

    --breadcrumbs-color-hover: #adbaa9;

    --image-button-primary-color: #2b2d30;
    --image-button-secondary-color: #1e2228;
    --image-button-text-color: #ffffff;


    --info-button-background: #2b2d30;
    --info-button-background-primary: #1e2228;
    --info-button-text-color: #ffffff;
    --info-button-text-color-primary: #adbaa9;

    --toolbar-before-color: #2b2d30;
    --toolbar-background: #1e2228;

    --calendar-background: #1e2228;
    --calendar-header-background: #2b2d30;
    --calendar-header-text-color: #adbaa9;
    --calendar-weekday: #2b2d30;
    --calendar-exclude: #2f2f2f;
    --calendar-time-background: #474b4f;
    --calendar-time-text-color: #adbaa9;
    --calendar-outside-text-color: #777777;
    --calendar-event:  #e30f0f;
    --calendar-internal-border: #444c56;
    --calendar-today-color: #adbaa9;
    --calendar-today-text-color: #000000;

    --toast-background: #323232;
    --toast-text-color: #ffffff;

    --cookie-disclaimer-background: #ffffff;
    --cookie-disclaimer-text-color: #000000;

    --analog-clock-background: #2b2d30;
    --analog-clock-dot: #ffffff;
    --analog-clock-hour: #ffffff;
    --analog-clock-minute: #ffffff;
    --analog-clock-second: #e30f0f;
    --analog-clock-tick-major: #ffffff;
    --analog-clock-tick-minor: #b6b6b6;
}

body {
    background-color: var(--body-background);
}