// Light color scheme
:root {
    --body-background: #fff;
    --body-color: #000;
    --text-color: #000;
    --body-color-invert: #fff;
    --border-color: #C0C0C0FF;
    --link-color: #067bb6;
    --link-color-hover: #05496b;
    --secondary-color: #777;
    --invert-background: rgb(252, 248, 227);
    --invert-color: rgb(2, 2, 2);
    --code-background: #f8f9fa;
    --code-color: #bd4147;
    --kbd-background: #1e2228;
    --kbd-color: #ffffff;
    --defaultColor: #ebebeb;
    --disableColor: #ececec;
    --shadowColor: rgba(0, 0, 0, 0.4);
    --imageButtonSecondaryColor: rgba(69, 90, 100, 0.55);
    --toolbarBeforeColor: rgba(69, 90, 100, 0.55);
}

// Dark colorscheme
.dark-mode {
    --body-background: #1e2228;
    --body-color: #adbaa9;
    --text-color: #adbaa9;
    --border-color: #444c56;
    --link-color: #4db5ff;
    --secondary-color: #777;
    --invert-background: rgb(252, 248, 227);
    --invert-color: rgb(2, 2, 2);
    --code-background: #f8f9fa;
    --code-color: #bd4147;
    --kbd-background: #1e2228;
    --kbd-color: #ffffff;
}