:root {
  --body-background: #fff;
  --text-color-secondary: #000;
  --text-color: #000;
  --body-color-invert: #fff;
  --border-color: #C0C0C0FF;
  --link-color: #067bb6;
  --link-color-hover: #05496b;
  --secondary-color: #777;
  --invert-background: #fcf8e3;
  --invert-color: #020202;
  --code-background: #f8f9fa;
  --code-color: #bd4147;
  --kbd-background: #1e2228;
  --kbd-color: #ffffff;
  --control-color: #ebebeb;
  --disable-color: #ececec;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --menu-background: #ebebeb;
  --menu-text-color: #000000;
  --menu-background-active: rgba(0, 0, 0, 0.1);
  --menu-text-color-active: #ffffff;
  --menu-title-background: #9f9f9f;
  --menu-title-text-color: #ffffff;
  --appbar-background: #ebebeb;
  --appbar-text-color: #000000;
  --appbar-background-hover: rgba(30, 34, 40, 0.1);
  --appbar-text-color-hover: #000000;
  --breadcrumbs-color-hover: #000000;
  --image-button-primary-color: #ebebeb;
  --image-button-secondary-color: #777777;
  --image-button-text-color: #000000;
  --image-button-icon-color: #ffffff;
  --info-button-background: #ffffff;
  --info-button-background-primary: #777777;
  --info-button-text-color: #000000;
  --info-button-text-color-primary: #ffffff;
  --toolbar-before-color: #777777;
  --toolbar-background: #ffffff;
  --calendar-background: #ffffff;
  --calendar-header-background: #ebebeb;
  --calendar-header-text-color: #000000;
  --calendar-weekday: #eeeeee;
  --calendar-exclude: #ededed;
  --calendar-time-background: #ffffff;
  --calendar-time-text-color: #565656;
  --calendar-outside-text-color: #777777;
  --calendar-event: #e30f0f;
  --calendar-internal-border: #f5f5f5;
  --calendar-today-color: #565656;
  --calendar-today-text-color: #ffffff;
  --calendar-special-text-color: #0b98dc;
  --calendar-weekend-text-color: #e30f0f;
  --toast-background: #777777;
  --toast-text-color: #ffffff;
  --cookie-disclaimer-background: #ffffff;
  --cookie-disclaimer-text-color: #000000;
  --analog-clock-background: #ffffff;
  --analog-clock-dot: #000000;
  --analog-clock-hour: #000000;
  --analog-clock-minute: #000000;
  --analog-clock-second: #e30f0f;
  --analog-clock-tick-major: #000000;
  --analog-clock-tick-minor: #b6b6b6;
  --progress-background: #eeeeee;
  --progress-bar-color: #60a917;
  --progress-buffer-color: #CE352C;
  --progress-line-color: #26b2f6;
  --progress-line-background: #b3d4fc;
  --hamburger-color: #000000;
  --input-background: #ffffff;
  --input-text-color: #000000;
  --input-border: #C0C0C0;
  --input-border-hover: #a6a6a6;
  --input-disabled-background: #acacac;
  --input-append-background: #eeeeee;
  --input-append-text-color: #000000;
  --switch-border: #1e2228;
  --switch-check-background: #1e2228;
  --switch-text-color: #1e2228;
  --switch-check-after: #ffffff;
  --switch-check-checked-before: #ffffff;
  --switch-disabled-background: #e9e9e9;
  --switch-dot-disabled-background: #acacac;
  --switch-unchecked-border: #333333;
  --switch-unchecked-check-background: #333333;
  --tools-menu-item-background: #ffffff;
  --tools-menu-item-text-color: #000000;
  --tools-menu-item-hover: rgba(30, 34, 40, 0.1);
  --lightbox-closer-background: #CE352C;
  --lightbox-closer-text-color: #ffffff;
  --lightbox-control-background: #a6a6a6;
  --lightbox-control-text-color: #000000;
  --card-background: #ffffff;
  --card-text-color: #000000;
  --card-text-color-secondary: #eee;
  --checkbox-check-checked: #000000;
  --checkbox-check-disabled: #a6a6a6;
  --checkbox-marker-color: #ffffff;
  --textarea-background: #ffffff;
  --textarea-text-color: #000000;
}
.dark-mode {
  --body-background: #1e2228;
  --text-color-secondary: #adbaa9;
  --text-color: #ffffff;
  --border-color: #444c56;
  --link-color: #4db5ff;
  --secondary-color: #777;
  --invert-background: #fcf8e3;
  --invert-color: #020202;
  --code-background: #f8f9fa;
  --code-color: #bd4147;
  --kbd-background: #1e2228;
  --kbd-color: #ffffff;
  --control-color: #2b2d30;
  --disable-color: #ececec;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --menu-background: #3c3f41;
  --menu-text-color: #adbaa9;
  --menu-background-active: rgba(255, 255, 255, 0.1);
  --menu-text-color-active: #ffffff;
  --menu-title-background: #1d2121;
  --menu-title-text-color: #ffffff;
  --appbar-background: #2b2d30;
  --appbar-text-color: #adbaa9;
  --appbar-background-hover: rgba(0, 0, 0, 0.1);
  --appbar-text-color-hover: #fff;
  --breadcrumbs-color-hover: #adbaa9;
  --image-button-primary-color: #2b2d30;
  --image-button-secondary-color: #1e2228;
  --image-button-text-color: #ffffff;
  --info-button-background: #2b2d30;
  --info-button-background-primary: #1e2228;
  --info-button-text-color: #ffffff;
  --info-button-text-color-primary: #adbaa9;
  --toolbar-before-color: #2b2d30;
  --toolbar-background: #1e2228;
  --calendar-background: #1e2228;
  --calendar-header-background: #2b2d30;
  --calendar-header-text-color: #adbaa9;
  --calendar-weekday: #2b2d30;
  --calendar-exclude: #2f2f2f;
  --calendar-time-background: #474b4f;
  --calendar-time-text-color: #adbaa9;
  --calendar-outside-text-color: #777777;
  --calendar-event: #e30f0f;
  --calendar-internal-border: #444c56;
  --calendar-today-color: #adbaa9;
  --calendar-today-text-color: #000000;
  --toast-background: #323232;
  --toast-text-color: #ffffff;
  --cookie-disclaimer-background: #ffffff;
  --cookie-disclaimer-text-color: #000000;
  --analog-clock-background: #2b2d30;
  --analog-clock-dot: #ffffff;
  --analog-clock-hour: #ffffff;
  --analog-clock-minute: #ffffff;
  --analog-clock-second: #e30f0f;
  --analog-clock-tick-major: #ffffff;
  --analog-clock-tick-minor: #b6b6b6;
  --progress-background: #2b2d30;
  --progress-bar-color: #60a917;
  --progress-buffer-color: #CE352C;
  --progress-line-color: #26b2f6;
  --progress-line-background: #b3d4fc;
  --hamburger-color: #adbaa9;
  --input-background: #2b2d30;
  --input-text-color: #ffffff;
  --input-border: #1e2228;
  --input-border-hover: #a6a6a6;
  --input-disabled-background: #acacac;
  --input-append-background: #acacac;
  --input-append-text-color: #000000;
  --switch-border: #565656;
  --switch-check-background: #2b2d30;
  --switch-text-color: #2b2d30;
  --switch-check-after: #adbaa9;
  --switch-check-checked-before: #adbaa9;
  --switch-disabled-background: #e9e9e9;
  --switch-dot-disabled-background: #acacac;
  --switch-unchecked-border: #464646;
  --switch-unchecked-check-background: #464646;
  --tools-menu-item-background: #ffffff;
  --tools-menu-item-text-color: #000000;
  --tools-menu-item-hover: rgba(30, 34, 40, 0.1);
  --lightbox-closer-background: #CE352C;
  --lightbox-closer-text-color: #ffffff;
  --lightbox-control-background: #a6a6a6;
  --lightbox-control-text-color: #000000;
  --card-background: #2b2d30;
  --card-text-color: #ffffff;
  --card-text-color-secondary: #a2a2a2;
  --checkbox-check-checked: #2b2d30;
  --checkbox-check-disabled: #a6a6a6;
  --checkbox-marker-color: #ffffff;
  --textarea-background: #2b2d30;
  --textarea-text-color: #ffffff;
}
body {
  background-color: var(--body-background);
}
/*# sourceMappingURL=theme.css.map */