@import (once) "../../include/vars";

.no-border {border: 0!important;}
.no-border-left {border-left: none!important ;}
.no-border-right {border-right: none!important ;}
.no-border-top {border-top: none!important ;}
.no-border-bottom {border-bottom: none!important ;}
.no-border-visible {border-color: transparent!important ;}

.border-none {border: 0!important ;}
.border-left-none {border-left: none!important ;}
.border-right-none {border-right: none!important ;}
.border-top-none {border-top: none!important ;}
.border-bottom-none {border-bottom: none!important ;}
.border-visible-none {border-color: transparent!important ;}

.border {border: 1px solid var(--border-color)!important;}
.border-left {border-left: 1px solid transparent!important;}
.border-right {border-right: 1px solid transparent!important;}
.border-top {border-top: 1px solid transparent!important;}
.border-bottom {border-bottom: 1px solid transparent!important;}

.border-top-left, .border-left-top {
    border-top: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
}
.border-top-right, .border-right-top {
    border-top: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}
.border-bottom-right, .border-right-bottom {
    border-bottom: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}
.border-bottom-left, .border-left-bottom {
    border-bottom: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
}
.border-top-bottom, .border-bottom-top {
    border-bottom: 1px solid transparent!important;
    border-top: 1px solid transparent!important;
}
.border-right-left, .border-left-right {
    border-right: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
}

.border-top-right-bottom {
    border-top: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
}
.border-right-bottom-left {
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
}
.border-bottom-left-top {
    border-left: 1px solid transparent!important;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
}
.border-left-top-right {
    border-left: 1px solid transparent!important;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
}

.border-radius {border-radius: @border-radius!important;}
.border-radius-half {border-radius: 50%!important;}

.generate-border-width(20);
.generate-border-width(@i) when (@i > 0) {

    .border-@{i} {border-width: unit(@i, px)!important;}
    .border-size-@{i} {border-width: unit(@i, px)!important;}
    .border-radius-@{i} {border-radius: unit(@i, px)!important;}

    .generate-border-width(@i - 1);
}

.rounded {
    border-radius: @border-radius!important;
}
.border-50 {
    border-radius: 50%!important;
}

.border-solid {border-style: solid!important;}
.border-dashed {border-style: dashed!important;}
.border-dotted {border-style: dotted!important;}
.border-double {border-style: double!important;}
.border-groove {border-style: groove!important;}
.border-inset {border-style: inset!important;}
.border-outset {border-style: outset!important;}
.border-ridge {border-style: ridge!important;}
