.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.h-vh-10 {
  height: 10vh;
}
.w-vw-10 {
  width: 10vw;
}
.h-10 {
  height: 10%;
}
.w-10 {
  width: 10%;
}
.mh-10 {
  max-height: 10%;
}
.mw-10 {
  max-width: 10%;
}
.h-vh-25 {
  height: 25vh;
}
.w-vw-25 {
  width: 25vw;
}
.h-25 {
  height: 25%;
}
.w-25 {
  width: 25%;
}
.mh-25 {
  max-height: 25%;
}
.mw-25 {
  max-width: 25%;
}
.h-vh-33 {
  height: 33vh;
}
.w-vw-33 {
  width: 33vw;
}
.h-33 {
  height: 33%;
}
.w-33 {
  width: 33%;
}
.mh-33 {
  max-height: 33%;
}
.mw-33 {
  max-width: 33%;
}
.h-vh-50 {
  height: 50vh;
}
.w-vw-50 {
  width: 50vw;
}
.h-50 {
  height: 50%;
}
.w-50 {
  width: 50%;
}
.mh-50 {
  max-height: 50%;
}
.mw-50 {
  max-width: 50%;
}
.h-vh-75 {
  height: 75vh;
}
.w-vw-75 {
  width: 75vw;
}
.h-75 {
  height: 75%;
}
.w-75 {
  width: 75%;
}
.mh-75 {
  max-height: 75%;
}
.mw-75 {
  max-width: 75%;
}
.h-vh-100 {
  height: 100vh;
}
.w-vw-100 {
  width: 100vw;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.mh-100 {
  max-height: 100%;
}
.mw-100 {
  max-width: 100%;
}
@media screen and (min-width: 0) {
  .w-auto-fs {
    width: auto;
  }
  .h-auto-fs {
    height: auto;
  }
  .h-vh-10-fs {
    height: 10vh;
  }
  .w-vw-10-fs {
    width: 10vw;
  }
  .h-10-fs {
    height: 10%;
  }
  .w-10-fs {
    width: 10%;
  }
  .mh-10-fs {
    max-height: 10%;
  }
  .mw-10-fs {
    max-width: 10%;
  }
  .h-vh-25-fs {
    height: 25vh;
  }
  .w-vw-25-fs {
    width: 25vw;
  }
  .h-25-fs {
    height: 25%;
  }
  .w-25-fs {
    width: 25%;
  }
  .mh-25-fs {
    max-height: 25%;
  }
  .mw-25-fs {
    max-width: 25%;
  }
  .h-vh-33-fs {
    height: 33vh;
  }
  .w-vw-33-fs {
    width: 33vw;
  }
  .h-33-fs {
    height: 33%;
  }
  .w-33-fs {
    width: 33%;
  }
  .mh-33-fs {
    max-height: 33%;
  }
  .mw-33-fs {
    max-width: 33%;
  }
  .h-vh-50-fs {
    height: 50vh;
  }
  .w-vw-50-fs {
    width: 50vw;
  }
  .h-50-fs {
    height: 50%;
  }
  .w-50-fs {
    width: 50%;
  }
  .mh-50-fs {
    max-height: 50%;
  }
  .mw-50-fs {
    max-width: 50%;
  }
  .h-vh-75-fs {
    height: 75vh;
  }
  .w-vw-75-fs {
    width: 75vw;
  }
  .h-75-fs {
    height: 75%;
  }
  .w-75-fs {
    width: 75%;
  }
  .mh-75-fs {
    max-height: 75%;
  }
  .mw-75-fs {
    max-width: 75%;
  }
  .h-vh-100-fs {
    height: 100vh;
  }
  .w-vw-100-fs {
    width: 100vw;
  }
  .h-100-fs {
    height: 100%;
  }
  .w-100-fs {
    width: 100%;
  }
  .mh-100-fs {
    max-height: 100%;
  }
  .mw-100-fs {
    max-width: 100%;
  }
}
@media screen and (min-width: 360px) {
  .w-auto-xs {
    width: auto;
  }
  .h-auto-xs {
    height: auto;
  }
  .h-vh-10-xs {
    height: 10vh;
  }
  .w-vw-10-xs {
    width: 10vw;
  }
  .h-10-xs {
    height: 10%;
  }
  .w-10-xs {
    width: 10%;
  }
  .mh-10-xs {
    max-height: 10%;
  }
  .mw-10-xs {
    max-width: 10%;
  }
  .h-vh-25-xs {
    height: 25vh;
  }
  .w-vw-25-xs {
    width: 25vw;
  }
  .h-25-xs {
    height: 25%;
  }
  .w-25-xs {
    width: 25%;
  }
  .mh-25-xs {
    max-height: 25%;
  }
  .mw-25-xs {
    max-width: 25%;
  }
  .h-vh-33-xs {
    height: 33vh;
  }
  .w-vw-33-xs {
    width: 33vw;
  }
  .h-33-xs {
    height: 33%;
  }
  .w-33-xs {
    width: 33%;
  }
  .mh-33-xs {
    max-height: 33%;
  }
  .mw-33-xs {
    max-width: 33%;
  }
  .h-vh-50-xs {
    height: 50vh;
  }
  .w-vw-50-xs {
    width: 50vw;
  }
  .h-50-xs {
    height: 50%;
  }
  .w-50-xs {
    width: 50%;
  }
  .mh-50-xs {
    max-height: 50%;
  }
  .mw-50-xs {
    max-width: 50%;
  }
  .h-vh-75-xs {
    height: 75vh;
  }
  .w-vw-75-xs {
    width: 75vw;
  }
  .h-75-xs {
    height: 75%;
  }
  .w-75-xs {
    width: 75%;
  }
  .mh-75-xs {
    max-height: 75%;
  }
  .mw-75-xs {
    max-width: 75%;
  }
  .h-vh-100-xs {
    height: 100vh;
  }
  .w-vw-100-xs {
    width: 100vw;
  }
  .h-100-xs {
    height: 100%;
  }
  .w-100-xs {
    width: 100%;
  }
  .mh-100-xs {
    max-height: 100%;
  }
  .mw-100-xs {
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .w-auto-sm {
    width: auto;
  }
  .h-auto-sm {
    height: auto;
  }
  .h-vh-10-sm {
    height: 10vh;
  }
  .w-vw-10-sm {
    width: 10vw;
  }
  .h-10-sm {
    height: 10%;
  }
  .w-10-sm {
    width: 10%;
  }
  .mh-10-sm {
    max-height: 10%;
  }
  .mw-10-sm {
    max-width: 10%;
  }
  .h-vh-25-sm {
    height: 25vh;
  }
  .w-vw-25-sm {
    width: 25vw;
  }
  .h-25-sm {
    height: 25%;
  }
  .w-25-sm {
    width: 25%;
  }
  .mh-25-sm {
    max-height: 25%;
  }
  .mw-25-sm {
    max-width: 25%;
  }
  .h-vh-33-sm {
    height: 33vh;
  }
  .w-vw-33-sm {
    width: 33vw;
  }
  .h-33-sm {
    height: 33%;
  }
  .w-33-sm {
    width: 33%;
  }
  .mh-33-sm {
    max-height: 33%;
  }
  .mw-33-sm {
    max-width: 33%;
  }
  .h-vh-50-sm {
    height: 50vh;
  }
  .w-vw-50-sm {
    width: 50vw;
  }
  .h-50-sm {
    height: 50%;
  }
  .w-50-sm {
    width: 50%;
  }
  .mh-50-sm {
    max-height: 50%;
  }
  .mw-50-sm {
    max-width: 50%;
  }
  .h-vh-75-sm {
    height: 75vh;
  }
  .w-vw-75-sm {
    width: 75vw;
  }
  .h-75-sm {
    height: 75%;
  }
  .w-75-sm {
    width: 75%;
  }
  .mh-75-sm {
    max-height: 75%;
  }
  .mw-75-sm {
    max-width: 75%;
  }
  .h-vh-100-sm {
    height: 100vh;
  }
  .w-vw-100-sm {
    width: 100vw;
  }
  .h-100-sm {
    height: 100%;
  }
  .w-100-sm {
    width: 100%;
  }
  .mh-100-sm {
    max-height: 100%;
  }
  .mw-100-sm {
    max-width: 100%;
  }
}
@media screen and (min-width: 640px) {
  .w-auto-ld {
    width: auto;
  }
  .h-auto-ld {
    height: auto;
  }
  .h-vh-10-ld {
    height: 10vh;
  }
  .w-vw-10-ld {
    width: 10vw;
  }
  .h-10-ld {
    height: 10%;
  }
  .w-10-ld {
    width: 10%;
  }
  .mh-10-ld {
    max-height: 10%;
  }
  .mw-10-ld {
    max-width: 10%;
  }
  .h-vh-25-ld {
    height: 25vh;
  }
  .w-vw-25-ld {
    width: 25vw;
  }
  .h-25-ld {
    height: 25%;
  }
  .w-25-ld {
    width: 25%;
  }
  .mh-25-ld {
    max-height: 25%;
  }
  .mw-25-ld {
    max-width: 25%;
  }
  .h-vh-33-ld {
    height: 33vh;
  }
  .w-vw-33-ld {
    width: 33vw;
  }
  .h-33-ld {
    height: 33%;
  }
  .w-33-ld {
    width: 33%;
  }
  .mh-33-ld {
    max-height: 33%;
  }
  .mw-33-ld {
    max-width: 33%;
  }
  .h-vh-50-ld {
    height: 50vh;
  }
  .w-vw-50-ld {
    width: 50vw;
  }
  .h-50-ld {
    height: 50%;
  }
  .w-50-ld {
    width: 50%;
  }
  .mh-50-ld {
    max-height: 50%;
  }
  .mw-50-ld {
    max-width: 50%;
  }
  .h-vh-75-ld {
    height: 75vh;
  }
  .w-vw-75-ld {
    width: 75vw;
  }
  .h-75-ld {
    height: 75%;
  }
  .w-75-ld {
    width: 75%;
  }
  .mh-75-ld {
    max-height: 75%;
  }
  .mw-75-ld {
    max-width: 75%;
  }
  .h-vh-100-ld {
    height: 100vh;
  }
  .w-vw-100-ld {
    width: 100vw;
  }
  .h-100-ld {
    height: 100%;
  }
  .w-100-ld {
    width: 100%;
  }
  .mh-100-ld {
    max-height: 100%;
  }
  .mw-100-ld {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .w-auto-md {
    width: auto;
  }
  .h-auto-md {
    height: auto;
  }
  .h-vh-10-md {
    height: 10vh;
  }
  .w-vw-10-md {
    width: 10vw;
  }
  .h-10-md {
    height: 10%;
  }
  .w-10-md {
    width: 10%;
  }
  .mh-10-md {
    max-height: 10%;
  }
  .mw-10-md {
    max-width: 10%;
  }
  .h-vh-25-md {
    height: 25vh;
  }
  .w-vw-25-md {
    width: 25vw;
  }
  .h-25-md {
    height: 25%;
  }
  .w-25-md {
    width: 25%;
  }
  .mh-25-md {
    max-height: 25%;
  }
  .mw-25-md {
    max-width: 25%;
  }
  .h-vh-33-md {
    height: 33vh;
  }
  .w-vw-33-md {
    width: 33vw;
  }
  .h-33-md {
    height: 33%;
  }
  .w-33-md {
    width: 33%;
  }
  .mh-33-md {
    max-height: 33%;
  }
  .mw-33-md {
    max-width: 33%;
  }
  .h-vh-50-md {
    height: 50vh;
  }
  .w-vw-50-md {
    width: 50vw;
  }
  .h-50-md {
    height: 50%;
  }
  .w-50-md {
    width: 50%;
  }
  .mh-50-md {
    max-height: 50%;
  }
  .mw-50-md {
    max-width: 50%;
  }
  .h-vh-75-md {
    height: 75vh;
  }
  .w-vw-75-md {
    width: 75vw;
  }
  .h-75-md {
    height: 75%;
  }
  .w-75-md {
    width: 75%;
  }
  .mh-75-md {
    max-height: 75%;
  }
  .mw-75-md {
    max-width: 75%;
  }
  .h-vh-100-md {
    height: 100vh;
  }
  .w-vw-100-md {
    width: 100vw;
  }
  .h-100-md {
    height: 100%;
  }
  .w-100-md {
    width: 100%;
  }
  .mh-100-md {
    max-height: 100%;
  }
  .mw-100-md {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .w-auto-lg {
    width: auto;
  }
  .h-auto-lg {
    height: auto;
  }
  .h-vh-10-lg {
    height: 10vh;
  }
  .w-vw-10-lg {
    width: 10vw;
  }
  .h-10-lg {
    height: 10%;
  }
  .w-10-lg {
    width: 10%;
  }
  .mh-10-lg {
    max-height: 10%;
  }
  .mw-10-lg {
    max-width: 10%;
  }
  .h-vh-25-lg {
    height: 25vh;
  }
  .w-vw-25-lg {
    width: 25vw;
  }
  .h-25-lg {
    height: 25%;
  }
  .w-25-lg {
    width: 25%;
  }
  .mh-25-lg {
    max-height: 25%;
  }
  .mw-25-lg {
    max-width: 25%;
  }
  .h-vh-33-lg {
    height: 33vh;
  }
  .w-vw-33-lg {
    width: 33vw;
  }
  .h-33-lg {
    height: 33%;
  }
  .w-33-lg {
    width: 33%;
  }
  .mh-33-lg {
    max-height: 33%;
  }
  .mw-33-lg {
    max-width: 33%;
  }
  .h-vh-50-lg {
    height: 50vh;
  }
  .w-vw-50-lg {
    width: 50vw;
  }
  .h-50-lg {
    height: 50%;
  }
  .w-50-lg {
    width: 50%;
  }
  .mh-50-lg {
    max-height: 50%;
  }
  .mw-50-lg {
    max-width: 50%;
  }
  .h-vh-75-lg {
    height: 75vh;
  }
  .w-vw-75-lg {
    width: 75vw;
  }
  .h-75-lg {
    height: 75%;
  }
  .w-75-lg {
    width: 75%;
  }
  .mh-75-lg {
    max-height: 75%;
  }
  .mw-75-lg {
    max-width: 75%;
  }
  .h-vh-100-lg {
    height: 100vh;
  }
  .w-vw-100-lg {
    width: 100vw;
  }
  .h-100-lg {
    height: 100%;
  }
  .w-100-lg {
    width: 100%;
  }
  .mh-100-lg {
    max-height: 100%;
  }
  .mw-100-lg {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .w-auto-xl {
    width: auto;
  }
  .h-auto-xl {
    height: auto;
  }
  .h-vh-10-xl {
    height: 10vh;
  }
  .w-vw-10-xl {
    width: 10vw;
  }
  .h-10-xl {
    height: 10%;
  }
  .w-10-xl {
    width: 10%;
  }
  .mh-10-xl {
    max-height: 10%;
  }
  .mw-10-xl {
    max-width: 10%;
  }
  .h-vh-25-xl {
    height: 25vh;
  }
  .w-vw-25-xl {
    width: 25vw;
  }
  .h-25-xl {
    height: 25%;
  }
  .w-25-xl {
    width: 25%;
  }
  .mh-25-xl {
    max-height: 25%;
  }
  .mw-25-xl {
    max-width: 25%;
  }
  .h-vh-33-xl {
    height: 33vh;
  }
  .w-vw-33-xl {
    width: 33vw;
  }
  .h-33-xl {
    height: 33%;
  }
  .w-33-xl {
    width: 33%;
  }
  .mh-33-xl {
    max-height: 33%;
  }
  .mw-33-xl {
    max-width: 33%;
  }
  .h-vh-50-xl {
    height: 50vh;
  }
  .w-vw-50-xl {
    width: 50vw;
  }
  .h-50-xl {
    height: 50%;
  }
  .w-50-xl {
    width: 50%;
  }
  .mh-50-xl {
    max-height: 50%;
  }
  .mw-50-xl {
    max-width: 50%;
  }
  .h-vh-75-xl {
    height: 75vh;
  }
  .w-vw-75-xl {
    width: 75vw;
  }
  .h-75-xl {
    height: 75%;
  }
  .w-75-xl {
    width: 75%;
  }
  .mh-75-xl {
    max-height: 75%;
  }
  .mw-75-xl {
    max-width: 75%;
  }
  .h-vh-100-xl {
    height: 100vh;
  }
  .w-vw-100-xl {
    width: 100vw;
  }
  .h-100-xl {
    height: 100%;
  }
  .w-100-xl {
    width: 100%;
  }
  .mh-100-xl {
    max-height: 100%;
  }
  .mw-100-xl {
    max-width: 100%;
  }
}
@media screen and (min-width: 1452px) {
  .w-auto-xxl {
    width: auto;
  }
  .h-auto-xxl {
    height: auto;
  }
  .h-vh-10-xxl {
    height: 10vh;
  }
  .w-vw-10-xxl {
    width: 10vw;
  }
  .h-10-xxl {
    height: 10%;
  }
  .w-10-xxl {
    width: 10%;
  }
  .mh-10-xxl {
    max-height: 10%;
  }
  .mw-10-xxl {
    max-width: 10%;
  }
  .h-vh-25-xxl {
    height: 25vh;
  }
  .w-vw-25-xxl {
    width: 25vw;
  }
  .h-25-xxl {
    height: 25%;
  }
  .w-25-xxl {
    width: 25%;
  }
  .mh-25-xxl {
    max-height: 25%;
  }
  .mw-25-xxl {
    max-width: 25%;
  }
  .h-vh-33-xxl {
    height: 33vh;
  }
  .w-vw-33-xxl {
    width: 33vw;
  }
  .h-33-xxl {
    height: 33%;
  }
  .w-33-xxl {
    width: 33%;
  }
  .mh-33-xxl {
    max-height: 33%;
  }
  .mw-33-xxl {
    max-width: 33%;
  }
  .h-vh-50-xxl {
    height: 50vh;
  }
  .w-vw-50-xxl {
    width: 50vw;
  }
  .h-50-xxl {
    height: 50%;
  }
  .w-50-xxl {
    width: 50%;
  }
  .mh-50-xxl {
    max-height: 50%;
  }
  .mw-50-xxl {
    max-width: 50%;
  }
  .h-vh-75-xxl {
    height: 75vh;
  }
  .w-vw-75-xxl {
    width: 75vw;
  }
  .h-75-xxl {
    height: 75%;
  }
  .w-75-xxl {
    width: 75%;
  }
  .mh-75-xxl {
    max-height: 75%;
  }
  .mw-75-xxl {
    max-width: 75%;
  }
  .h-vh-100-xxl {
    height: 100vh;
  }
  .w-vw-100-xxl {
    width: 100vw;
  }
  .h-100-xxl {
    height: 100%;
  }
  .w-100-xxl {
    width: 100%;
  }
  .mh-100-xxl {
    max-height: 100%;
  }
  .mw-100-xxl {
    max-width: 100%;
  }
}
@media screen and (min-width: 2000px) {
  .w-auto-xxxl {
    width: auto;
  }
  .h-auto-xxxl {
    height: auto;
  }
  .h-vh-10-xxxl {
    height: 10vh;
  }
  .w-vw-10-xxxl {
    width: 10vw;
  }
  .h-10-xxxl {
    height: 10%;
  }
  .w-10-xxxl {
    width: 10%;
  }
  .mh-10-xxxl {
    max-height: 10%;
  }
  .mw-10-xxxl {
    max-width: 10%;
  }
  .h-vh-25-xxxl {
    height: 25vh;
  }
  .w-vw-25-xxxl {
    width: 25vw;
  }
  .h-25-xxxl {
    height: 25%;
  }
  .w-25-xxxl {
    width: 25%;
  }
  .mh-25-xxxl {
    max-height: 25%;
  }
  .mw-25-xxxl {
    max-width: 25%;
  }
  .h-vh-33-xxxl {
    height: 33vh;
  }
  .w-vw-33-xxxl {
    width: 33vw;
  }
  .h-33-xxxl {
    height: 33%;
  }
  .w-33-xxxl {
    width: 33%;
  }
  .mh-33-xxxl {
    max-height: 33%;
  }
  .mw-33-xxxl {
    max-width: 33%;
  }
  .h-vh-50-xxxl {
    height: 50vh;
  }
  .w-vw-50-xxxl {
    width: 50vw;
  }
  .h-50-xxxl {
    height: 50%;
  }
  .w-50-xxxl {
    width: 50%;
  }
  .mh-50-xxxl {
    max-height: 50%;
  }
  .mw-50-xxxl {
    max-width: 50%;
  }
  .h-vh-75-xxxl {
    height: 75vh;
  }
  .w-vw-75-xxxl {
    width: 75vw;
  }
  .h-75-xxxl {
    height: 75%;
  }
  .w-75-xxxl {
    width: 75%;
  }
  .mh-75-xxxl {
    max-height: 75%;
  }
  .mw-75-xxxl {
    max-width: 75%;
  }
  .h-vh-100-xxxl {
    height: 100vh;
  }
  .w-vw-100-xxxl {
    width: 100vw;
  }
  .h-100-xxxl {
    height: 100%;
  }
  .w-100-xxxl {
    width: 100%;
  }
  .mh-100-xxxl {
    max-height: 100%;
  }
  .mw-100-xxxl {
    max-width: 100%;
  }
}
/*# sourceMappingURL=sizing.css.map */