.fixed-top,
.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.fixed-top {
  top: 0;
  bottom: auto;
}
.fixed-bottom {
  top: auto;
  bottom: 0;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.pos-static {
  position: static;
}
.pos-fixed {
  position: fixed;
}
@media screen and (min-width: 0) {
  .pos-relative-fs {
    position: relative;
  }
  .pos-absolute-fs {
    position: absolute;
  }
  .pos-static-fs {
    position: static;
  }
  .pos-fixed-fs {
    position: fixed;
  }
}
@media screen and (min-width: 360px) {
  .pos-relative-xs {
    position: relative;
  }
  .pos-absolute-xs {
    position: absolute;
  }
  .pos-static-xs {
    position: static;
  }
  .pos-fixed-xs {
    position: fixed;
  }
}
@media screen and (min-width: 576px) {
  .pos-relative-sm {
    position: relative;
  }
  .pos-absolute-sm {
    position: absolute;
  }
  .pos-static-sm {
    position: static;
  }
  .pos-fixed-sm {
    position: fixed;
  }
}
@media screen and (min-width: 640px) {
  .pos-relative-ld {
    position: relative;
  }
  .pos-absolute-ld {
    position: absolute;
  }
  .pos-static-ld {
    position: static;
  }
  .pos-fixed-ld {
    position: fixed;
  }
}
@media screen and (min-width: 768px) {
  .pos-relative-md {
    position: relative;
  }
  .pos-absolute-md {
    position: absolute;
  }
  .pos-static-md {
    position: static;
  }
  .pos-fixed-md {
    position: fixed;
  }
}
@media screen and (min-width: 992px) {
  .pos-relative-lg {
    position: relative;
  }
  .pos-absolute-lg {
    position: absolute;
  }
  .pos-static-lg {
    position: static;
  }
  .pos-fixed-lg {
    position: fixed;
  }
}
@media screen and (min-width: 1200px) {
  .pos-relative-xl {
    position: relative;
  }
  .pos-absolute-xl {
    position: absolute;
  }
  .pos-static-xl {
    position: static;
  }
  .pos-fixed-xl {
    position: fixed;
  }
}
@media screen and (min-width: 1452px) {
  .pos-relative-xxl {
    position: relative;
  }
  .pos-absolute-xxl {
    position: absolute;
  }
  .pos-static-xxl {
    position: static;
  }
  .pos-fixed-xxl {
    position: fixed;
  }
}
@media screen and (min-width: 2000px) {
  .pos-relative-xxxl {
    position: relative;
  }
  .pos-absolute-xxxl {
    position: absolute;
  }
  .pos-static-xxxl {
    position: static;
  }
  .pos-fixed-xxxl {
    position: fixed;
  }
}
.pos-top-left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}
.pos-top-center {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translateX(-50%);
}
.pos-top-right {
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
}
.pos-bottom-left {
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
}
.pos-bottom-center {
  top: auto;
  left: 50%;
  bottom: 0;
  right: auto;
  transform: translateX(-50%);
}
.pos-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}
.pos-left-center {
  left: 0;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateY(-50%);
}
.pos-right-center {
  right: 0;
  top: 50%;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
}
.pos-center {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}
/*# sourceMappingURL=position.css.map */