@import (once) "../../include/media";
@import (once) "../../include/mixins";

@mpStep: 4;
@mpUnit: px;

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-left: auto;
}

.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mt-auto {margin-top: auto;}
.mb-auto {margin-bottom: auto;}

.p-0 {padding: 0;}
.pl-0 {padding-left: 0;}
.pr-0 {padding-right: 0;}
.pt-0 {padding-top: 0;}
.pb-0 {padding-bottom: 0;}
.px-0 {padding-left: 0; padding-right: 0;}
.py-0 {padding-top: 0; padding-bottom: 0;}
.m-0 {margin: 0;}
.ml-0 {margin-left: 0;}
.mr-0 {margin-right: 0;}
.mt-0 {margin-top: 0;}
.mb-0 {margin-bottom: 0;}
.mx-0 {margin-left: 0; margin-right: 0;}
.my-0 {margin-top: 0; margin-bottom: 0;}

.generate-padding-and-margin(@i, @k: 1) when (@k =< @i) {

    @calculatedSize: unit(@k * @mpStep, @mpUnit);
    @calculatedSizeNegative: unit(-1 * @k * @mpStep, @mpUnit);

    .p-@{k} {padding: @calculatedSize ;}
    .pr-@{k} {padding-right: @calculatedSize ;}
    .pl-@{k} {padding-left: @calculatedSize ;}
    .pt-@{k} {padding-top: @calculatedSize ;}
    .pb-@{k} {padding-bottom: @calculatedSize ;}
    .px-@{k} {padding-left: @calculatedSize; padding-right: @calculatedSize;}
    .py-@{k} {padding-top: @calculatedSize; padding-bottom: @calculatedSize;}

    .m-@{k} {margin: @calculatedSize ;}
    .mr-@{k} {margin-right: @calculatedSize ;}
    .ml-@{k} {margin-left: @calculatedSize ;}
    .mt-@{k} {margin-top: @calculatedSize ;}
    .mb-@{k} {margin-bottom: @calculatedSize ;}
    .mx-@{k} {margin-left: @calculatedSize; margin-right: @calculatedSize;}
    .my-@{k} {margin-top: @calculatedSize; margin-bottom: @calculatedSize;}

    .mr-@{k}-minus {margin-right: @calculatedSizeNegative ;}
    .ml-@{k}-minus {margin-left: @calculatedSizeNegative ;}
    .mt-@{k}-minus {margin-top: @calculatedSizeNegative ;}
    .mb-@{k}-minus {margin-bottom: @calculatedSizeNegative ;}

    .generate-padding-and-margin(@i, @k + 1);
}
.generate-padding-and-margin(20);

each(@media-rules, {
    @media screen and (min-width: @value) {
        .mx-auto-@{key} {
            margin-left: auto;
            margin-right: auto;
        }

        .my-auto-@{key} {
            margin-top: auto;
            margin-bottom: auto;
        }

        .ml-auto-@{key} {margin-left: auto;}
        .mr-auto-@{key} {margin-right: auto;}
        .mt-auto-@{key} {margin-top: auto;}
        .mb-auto-@{key} {margin-bottom: auto;}

        .p-0-@{key} {padding: 0;}
        .pl-0-@{key} {padding-left: 0;}
        .pr-0-@{key} {padding-right: 0;}
        .pt-0-@{key} {padding-top: 0;}
        .pb-0-@{key} {padding-bottom: 0;}
        .m-0-@{key} {margin: 0;}
        .ml-0-@{key} {margin-left: 0;}
        .mr-0-@{key} {margin-right: 0;}
        .mt-0-@{key} {margin-top: 0;}
        .mb-0-@{key} {margin-bottom: 0;}

        .generate-indents(@j, @k: 0) when (@k =< @j) {

            @calculatedSize: unit(@k * @mpStep, @mpUnit);
            @calculatedSizeNegative: unit(-1 * @k * @mpStep, @mpUnit);

            .p-@{k}-@{key} {padding: @calculatedSize ;}
            .pr-@{k}-@{key} {padding-right: @calculatedSize ;}
            .pl-@{k}-@{key} {padding-left: @calculatedSize ;}
            .pt-@{k}-@{key} {padding-top: @calculatedSize ;}
            .pb-@{k}-@{key} {padding-bottom: @calculatedSize ;}
            .px-@{k}-@{key} {padding-left: @calculatedSize; padding-right: @calculatedSize;}
            .py-@{k}-@{key} {padding-top: @calculatedSize; padding-bottom: @calculatedSize;}

            .m-@{k}-@{key} {margin: @calculatedSize ;}
            .mr-@{k}-@{key} {margin-right: @calculatedSize ;}
            .ml-@{k}-@{key} {margin-left: @calculatedSize ;}
            .mt-@{k}-@{key} {margin-top: @calculatedSize ;}
            .mb-@{k}-@{key} {margin-bottom: @calculatedSize ;}
            .mx-@{k}-@{key} {margin-left: @calculatedSize; margin-right: @calculatedSize;}
            .my-@{k}-@{key} {margin-top: @calculatedSize; margin-bottom: @calculatedSize;}

            .m-@{k}-@{key}-minus {margin: @calculatedSizeNegative ;}
            .mr-@{k}-@{key}-minus {margin-right: @calculatedSizeNegative ;}
            .ml-@{k}-@{key}-minus {margin-left: @calculatedSizeNegative ;}
            .mt-@{k}-@{key}-minus {margin-top: @calculatedSizeNegative ;}
            .mb-@{k}-@{key}-minus {margin-bottom: @calculatedSizeNegative ;}

            .generate-indents(@j, (@k + 1));
        }
        .generate-indents(20);
    }
})

