<!doctype html>
<html lang="en" class="scrollbar-type-1 sb-amber" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body class="cloak" style="padding-top: 52px">

<div data-role="appbar" data-expand-point="lg" data-theme="light">
    <a href="#" class="appbar-brand no-hover">Metro 5 :: Components library</a>

    <ul class="appbar-menu">
        <li><a href="#" data-hotkey="ctrl+a" data-hotkey-repeat="false" onclick="console.log('Hi from Home!')">Home</a></li>
        <li>
            <a href="#" class="dropdown-toggle marker-on">Products</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="#"><span class="icon mif-search"></span><span class="caption">Preview features</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user"></span><span class="caption">Profile</span></a></li>
                <li><a href="#"><span class="icon mif-alarm"></span><span class="caption">Time and Locale</span></a></li>
                <li><a href="#"><span class="icon mif-redo"></span><span class="caption">Permissions</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-chat-bubble"></span><span class="caption">Notifications</span></a></li>
                <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme</span></a></li>
                <li><a href="#"><span class="icon mif-chart-bars"></span><span class="caption">Usage</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user-secret"></span><span class="caption">Personal access tokens</span></a></li>
                <li><a href="#"><span class="icon mif-key"></span><span class="caption">SSH public keys</span></a></li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="dropdown-toggle marker-on">Windows</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="#">Windows 10</a></li>
                        <li><a href="#">Windows 11</a></li>
                        <li><a href="#">Windows 12</a></li>
                    </ul>
                </li>
                <li><a href="#">Office 365</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a href="#">Skype</a></li>
            </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</div>
<!--
<div data-role="adblock-hunter" data-on-bite="console.log('Adblock detected!')"
     data-on-fishing-start="console.log('Fishing started!')" data-on-fishing-done="console.log('Fishing done!')"></div>
-->

<div class="mt-10">
    <div>
        <button class="button" onclick="$('#sorter1').plugin('sorter').sort({sort: 'asc'})">Asc</button>
        <button class="button" onclick="$('#sorter1').plugin('sorter').sort({sort: 'desc'})">Desc</button>
        <button class="button" onclick="$('#sorter1').plugin('sorter').reset()">Reset</button>
    </div>
    <ul data-role="sorter" data-sort="desc" id="sorter1">
        <li>1</li>
        <li>4</li>
        <li>3</li>
        <li>2</li>
    </ul>
</div>

<div class="mt-10 pl-4 pr-4">
    <table data-role="table" class="border">
        <thead>
        <tr>
            <th>ID</th>
            <th data-sortable="true" data-sort-dir="asc">Name</th>
            <th data-sortable="true">Birthday</th>
            <th>Salary</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>

<!--
<div class="mt-10 pl-10 pr-10">
    <div class="row">
        <div class="cell-md-4"></div>
        <div class="cell-md-4 border rounded">
            <div data-role="master"
                 data-title="Metro5 Master"
                 data-locale="ua-UK"
            >
                <div class="master__page">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nostrum officia reprehenderit? Cumque delectus facere fugiat hic iusto molestiae neque totam! A corporis culpa ea maiores, pariatur quam sequi! Sint.
                </div>
                <div class="master__page">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aperiam aspernatur beatae consequuntur culpa, deleniti dignissimos doloremque ea ex excepturi expedita fuga illum, incidunt provident sunt ullam velit voluptate.
                </div>
                <div class="master__page">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis commodi cupiditate debitis dignissimos distinctio ea fugit in iste itaque, minima nulla possimus, recusandae repudiandae temporibus vel veniam voluptatem voluptatibus.
                </div>
            </div>
        </div>
        <div class="cell-md-4"></div>
    </div>
</div>

<div class="mt-10">
    <div class="row ml-2 mr-2">
        <div class="cell-md-4 mt-4">
            <div class="icon-card border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-2">
                    <div class="h4 mb-0 text-light text-upper">likes</div>
                    <div class="h2 mt-1">41,410</div>
                </div>
            </div>
        </div>
        <div class="cell-md-4 mt-4">
            <div class="icon-card border bd-default">
                <div class="icon bg-red fg-white"><span class="mif-google-plus"></span></div>
                <div class="content p-2">
                    <div class="h4 mb-0 text-light text-upper">likes</div>
                    <div class="h2 mt-1">41,410</div>
                </div>
            </div>
        </div>
        <div class="cell-md-4 mt-4">
            <div class="icon-card border bd-default">
                <div class="icon bg-green fg-white"><span class="mif-cart"></span></div>
                <div class="content p-2">
                    <div class="h4 mb-0 text-light text-upper">likes</div>
                    <div class="h2 mt-1">41,410</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-2 mr-2">
        <div class="cell-md-4 mt-4">
            <div class="icon-card bg-cyan fg-white">
                <div class="icon"><span class="mif-bookmark"></span></div>
                <div class="content">
                    <div class="p-2">
                        <div>BOOKMARKS</div>
                        <div class="text-bold text-leader">41,400</div>
                    </div>
                    <div data-role="progress" data-value="75" data-variant="small" data-bar-color="#1ba1e2"></div>
                    <div class="pl-2 pr-2 lh-1">
                        <span class="text-small">
                            70% Increase in 30 Days
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-4 mt-4">
            <div class="icon-card bg-green fg-white">
                <div class="icon"><span class="mif-thumbs-up"></span></div>
                <div class="content">
                    <div class="p-2">
                        <div>LIKES</div>
                        <div class="text-bold text-leader">41,400</div>
                    </div>
                    <div data-role="progress" data-value="75" data-variant="small" data-bar-color="#569815"></div>
                    <div class="pl-2 pr-2 lh-1">
                        <span class="text-small">
                            70% Increase in 30 Days
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-4 mt-4">
            <div class="icon-card bg-orange fg-white">
                <div class="icon"><span class="mif-calendar"></span></div>
                <div class="content">
                    <div class="p-2">
                        <div>EVENTS</div>
                        <div class="text-bold text-leader">41,400</div>
                    </div>
                    <div data-role="progress" data-value="75" data-variant="small" data-bar-color="#e15d00"></div>
                    <div class="pl-2 pr-2 lh-1">
                        <span class="text-small">
                            70% Increase in 30 Days
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-2 mr-2">
        <div class="cell-md-6 mt-4">
            <div class="icon-card-more bg-cyan fg-white">
                <div class="content">
                    <h2 class="text-bold mb-0">150</h2>
                    <div>New Orders</div>
                </div>
                <div class="icon">
                    <span class="mif-cart"></span>
                </div>
                <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
            </div>
        </div>
        <div class="cell-md-6 mt-4">
            <div class="icon-card-more bg-green fg-white">
                <div class="content">
                    <h2 class="text-bold mb-0">53%</h2>
                    <div>Bounce Rate</div>
                </div>
                <div class="icon">
                    <span class="mif-chart-bars"></span>
                </div>
                <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cell-md-4">
            <div class="card">
                <div class="card__header">
                    Card header
                </div>
                <div class="card__content p-2">
                    Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
                </div>
                <div class="card__footer">
                    Card Footer
                </div>
            </div>
        </div>

        <div class="cell-md-4">
            <div class="card image-header">
                <div class="card__header"
                     style="background-image: url(https://picsum.photos/1000/600/)">
                    <span class="fg-white">Journey To Mountains</span>
                </div>
                <div class="card__content p-2">
                    <p class="fg-gray">Posted on January 21, 2015</p>
                    Quisque eget vestibulum nulla. Quisque quis dui quis ex
                    ultricies efficitur vitae non felis. Phasellus quis nibh
                    hendrerit...
                </div>
                <div class="card__footer">
                    <button class="button secondary">Read More</button>
                </div>
            </div>
        </div>

        <div class="cell-md-4">
            <div class="card">
                <div class="card__header">
                    <div class="avatar">
                        <img src="https://picsum.photos/68/68/">
                    </div>
                    <div class="name">John Doe</div>
                    <div class="date">Monday at 3:47 PM</div>
                </div>
                <div class="card__content">
                    <div class="p-2">
                        What a nice photo i took yesterday!
                    </div>
                    <div>
                        <img src="https://picsum.photos/1000/600/" style="width: 100%">
                    </div>
                    <div class="text-muted d-flex p-2">
                        <div><small>Likes: </small> <span class="badge inline">112</span></div>
                        <div class="ml-2"><small>Comments: </small><span class="badge inline">43</span></div>
                    </div>
                </div>
                <div class="card__footer">
                    <button class="button bg-transparent mif-thumbs-up mif-2x w-33"></button>
                    <button class="button bg-transparent mif-tag mif-2x w-33"></button>
                    <button class="button bg-transparent mif-share mif-2x w-33"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="mt-10">
    <div class="row ml-10 mr-10">
        <div class="cell-lg-6">
            <div class="skill-box">
                <div class="header bg-orange fg-white">
                    <img src="images/shvarcenegger.jpg" class="avatar">
                    <div class="title">Arnold Shvarcenegger</div>
                    <div class="subtitle">Cool Men</div>
                </div>
                <ul class="skills">
                    <li>
                        <span>Kung-Fu</span>
                        <span class="float-right">90%</span>
                        <div data-role="progress" data-value="90" data-variant="small"></div>
                    </li>
                    <li>
                        <span>Karate Do</span>
                        <div data-role="progress" data-value="75" data-variant="small"></div>
                    </li>
                    <li>
                        <span>Dancing</span>
                        <div data-role="progress" data-value="35" data-variant="small"></div>
                    </li>
                    <li>
                        <span>Singing</span>
                        <div data-role="progress" data-value="45" data-variant="small"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="cell-lg-6">
            <div class="skill-box">
                <div class="header bg-green fg-white">
                    <img src="images/shvarcenegger.jpg" class="avatar">
                    <div class="title">Arnold Shvarcenegger</div>
                    <div class="subtitle">Terminator</div>
                </div>
                <ul class="skills">
                    <li>
                        <span>Projects</span>
                        <span class="badge bg-orange fg-white">25</span>
                    </li>
                    <li>
                        <span>Tasks</span>
                        <span class="badge bg-cyan fg-white">5</span>
                    </li>
                    <li>
                        <span>Completed Projects</span>
                        <span class="badge bg-green fg-white">21</span>
                    </li>
                    <li>
                        <span>Followers</span>
                        <span class="badge bg-red fg-white">1024</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mt-10 d-flex flex-justify-center">
    <div class="social-box">
        <div class="header bg-cyan fg-white">
            <div class="avatar">
                <img src="images/shvarcenegger.jpg">
            </div>
            <div class="title">Arnold Shvarcenegger</div>
            <div class="subtitle">Terminator</div>
        </div>
        <ul class="skills">
            <li>
                <div class="text-bold">6</div>
                <div>AWARDS</div>
            </li>
            <li>
                <div class="text-bold">4</div>
                <div>NOMINATIONS</div>
            </li>
            <li>
                <div class="text-bold">36</div>
                <div>FILMS</div>
            </li>
        </ul>
    </div>
</div>

<div class="mt-10 d-flex flex-justify-center">
    <button class="button" onclick="Toast.create('Toast Message')">Toast1</button>
    &nbsp;
    <button class="button" onclick="Toast.create('Toast Message', {className: 'alert'})">Toast2</button>
    &nbsp;
    <button class="button" onclick="Toast.create('Toast Message', {position: 'top'})">Toast3</button>
    &nbsp;
    <button class="button" onclick="Notify.create({message: 'Test Message', title: 'Notify'})">Notify1</button>
    &nbsp;
    <button class="button" onclick="Notify.create({message: 'Test Message', className: 'alert', keepOpen: true})">Notify2</button>
    &nbsp;
    <button class="button" onclick="Notify.create({message: 'Keep Open', keepOpen: true})">Notify2</button>
</div>



<div class="mt-10 p-10 d-flex flex-justify-around flex-align-center">
    <div data-hint-position="top" class="bg-red" style="width: 30px; height: 30px;" title="Hint Text"></div>
    <div data-hint-position="bottom" class="bg-red" style="width: 30px; height: 30px;" title="Hint Text"></div>
    <div data-hint-position="left" class="bg-red" style="width: 30px; height: 30px;" title="Hint Text"></div>
    <div data-hint-position="right" class="bg-red" style="width: 30px; height: 30px;" title="Hint Text"></div>
</div>


<div class="mt-10 pl-4 pr-4">
    <style>
        .element-draggable {
            box-shadow: 4px 4px 4px rgba(0,0,0,.3);
        }
    </style>
    <div style="height: 200px;" class="border d-flex flex-justify-around flex-align-center">
        <div data-role="drag, hint" title="Test Hint1" class="bg-red" style="width: 30px; height: 30px;" data-on-drag-end="console.log(arguments)"></div>
    </div>
</div>


<div class="mt-10">
    <a class="button">Toggle</a>
    <div data-role="collapse" data-save-state="true" id="collapse1" class="bg-white">
        <div class="border p-10">
            Collapsible content
        </div>
    </div>
</div>

<div class="mt-10">
    <script>
        var panelCustomButtons = [
            {
                caption: "<span class='mif-lock'>",
                className: "fg-red",
                onclick: function(){
                    console.log(this)
                    this.collapse()
                }
            },
            {
                caption: "<span class='mif-lock'>",
                className: "alert",
                onclick: () => alert("Custom button was clicked!")
            },
        ]
    </script>
    <div class="row ml-4 mr-4">
        <div class="cell-md-6">
            <div data-role="panel" data-icon="<span class='mif-rocket'>" data-custom-buttons="panelCustomButtons" data-closeable="true">
                Panel Content
            </div>
        </div>
        <div class="cell-md-6">
            <div data-role="panel" data-icon="<img src='/images/pineapple.png'/>" data-save-state="true" id="panel1">
                Panel Content
            </div>
        </div>
    </div>
</div>


<div class="mt-10 d-flex flex-justify-center">
    <div class="row">
        <div class="cell-md-6">
            <ul class="dropdown-menu" style="position: relative; display: block">
                <li><a href="#"><span class="icon mif-search"></span><span class="caption">Preview features</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user"></span><span class="caption">Profile</span></a></li>
                <li><a href="#"><span class="icon mif-alarm"></span><span class="caption">Time and Locale</span></a></li>
                <li><a href="#"><span class="icon mif-redo"></span><span class="caption">Permissions</span></a></li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="dropdown-toggle marker-on"><span class="icon mif-chat-bubble"></span><span class="caption">Notifications</span></a>
                    <ul class="vertical-menu" data-role="dropdown">
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 1</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 2</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 3</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 4</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 5</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 6</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon mif-chat-bubble"></span><span class="caption">Notifications</span></a></li>
                <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme</span></a></li>
                <li><a href="#"><span class="icon mif-chart-bars"></span><span class="caption">Usage</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user-secret"></span><span class="caption">Personal access tokens</span></a></li>
                <li><a href="#"><span class="icon mif-key"></span><span class="caption">SSH public keys</span></a></li>
            </ul>
        </div>

        <div class="cell-md-6">
            <ul class="vertical-menu drop-shadow" style="position: relative; display: block">
                <li class="menu-title">Menu Title</li>
                <li><a href="#"><span class="icon mif-search"></span><span class="caption">Preview features</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user"></span><span class="caption">Profile</span></a></li>
                <li><a href="#"><span class="icon mif-alarm"></span><span class="caption">Time and Locale</span></a></li>
                <li><a href="#"><span class="icon mif-redo"></span><span class="caption">Permissions</span></a></li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="dropdown-toggle marker-on"><span class="icon mif-chat-bubble"></span><span class="caption">Notifications</span></a>
                    <ul class="vertical-menu" data-role="dropdown">
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 1</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 2</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 3</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 4</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 5</span></a></li>
                        <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme 6</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon mif-paint"></span><span class="caption">Theme</span></a></li>
                <li><a href="#"><span class="icon mif-chart-bars"></span><span class="caption">Usage</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon mif-user-secret"></span><span class="caption">Personal access tokens</span></a></li>
                <li><a href="#"><span class="icon mif-key"></span><span class="caption">SSH public keys</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="mt-10">
    <h3>Remote Dataset</h3>
    <div>
        <button class="button" onclick="rdsPrevPhotos()">Prev</button>
        <button class="button" onclick="rdsNextPhotos()">Next</button>
    </div>
    <style>
        #rds img {
            width: 50px;
            height: 50px;
        }
    </style>
    <div id="rds"></div>
</div>

<div class="mt-10">
    <div>
        <button class="button" onclick="console.log(Metro5.getPlugin('#tabs1', 'tabs').getActiveTabIndex())">Get Index</button>
    </div>
    <ul data-role="tabs" id="tabs1" class="mt-10" data-on-append-button-click="addTab" data-activate-new-tab="true">
        <li data-icon="mif-file-code">tabs/index1.js</li>
        <li data-icon="mif-file-code">tabs/index2.js</li>
        <li data-icon="mif-file-code">tabs/index3.js</li>
        <li data-icon="mif-file-code">tabs/index4.js</li>
        <li data-icon="mif-file-code">tabs/index5.js</li>
        <li data-icon="mif-file-code">tabs/index6.js</li>
    </ul>
</div>


<div class="mt-10 text-center">
    <div class="ico-check"></div>
    <div class="ico-cross"></div>
    <div class="ico-search"></div>
    <div class="ico-plus"></div>
    <div class="ico-minus"></div>
    <div class="ico-help"></div>
    <div class="ico-left-arrow"></div>
    <div class="ico-right-arrow"></div>
    <div class="ico-calendar"></div>
    <div class="ico-clock"></div>
    <div class="ico-menu"></div>
    <div class="ico-pencil"></div>
    <div class="ico-chevron-left"></div>
    <div class="ico-chevron-right"></div>
    <div class="ico-chevron-down"></div>
    <div class="ico-chevron-up"></div>
    <div class="ico-share"></div>
    <div class="ico-equalizer"></div>
    <div class="ico-random"></div>
    <div class="ico-loop"></div>
    <div class="ico-play"></div>
    <div class="ico-pause"></div>
    <div class="ico-stop"></div>
    <div class="ico-mute"></div>
    <div class="ico-low-volume"></div>
    <div class="ico-medium-volume"></div>
    <div class="ico-high-volume"></div>
    <div class="ico-enlarge"></div>
    <div class="ico-shrink"></div>
    <div class="ico-playlist"></div>
    <div class="ico-next"></div>
    <div class="ico-prev"></div>
    <div class="ico-first"></div>
    <div class="ico-last"></div>
    <div class="ico-forward"></div>
    <div class="ico-backward"></div>
    <div class="ico-eject"></div>
    <div class="ico-shuffle"></div>
</div>

<div class="mt-10 d-flex flex-justify-center flex-column">
    <form action="javascript:" class="pl-20 pr-20">
        <input data-role="input" data-prepend="Enter email:" data-append="@gmail.com">
        <input data-role="input" data-search-button="true" data-margin="4px 0" data-autocomplete="One|Two|Three|Four|Five|Six|Seven">
        <input type="password" data-role="input">
    </form>
</div>

<div class="mt-10 d-flex flex-row flex-justify-center">
    <textarea data-role="textarea" data-clear-button="true"></textarea>
</div>

<div class="mt-10 d-flex flex-row flex-justify-center">
    <input data-role="radio" name="radio1">
    <input data-role="radio" checked name="radio1">
    <input data-role="radio" checked disabled>
</div>

<div class="mt-10 d-flex flex-row flex-justify-center">
    <input data-role="checkbox">
    <input data-role="checkbox" checked>
    <input data-role="checkbox" checked data-states="3">
    <input data-role="checkbox" checked disabled>
</div>

<div class="mt-10 mb-10 d-flex flex-row flex-justify-center">
    <div data-role="countdown" data-date="05-01-2024"></div>
    <div data-role="countdown" data-date="05-01-2024" data-animate="slide"></div>
</div>

<div class="container-fluid" id="screenshots">
    <div class="container">
        <div class="row" data-role="lightbox">
            <div class="cell-md-12">
                <div class="row">
                    <div class="cell-3 p-2">
                        <div class="img-wrap">
                            <img src="./images/pandora.jpg" alt="">
                        </div>
                    </div>
                    <div class="cell-3 p-2">
                        <div class="img-wrap">
                            <img src="./images/mirohost.jpg" alt="">
                        </div>
                    </div>
                    <div class="cell-3 p-2">
                        <div class="img-wrap">
                            <img src="./images/start.jpg" alt="">
                        </div>
                    </div>
                    <div class="cell-3 p-2">
                        <div class="img-wrap">
                            <img src="./images/aistant.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-10">
    <ul class="tools-menu open">
        <li><a href="#"><span class="icon mif-home"></span></a></li>
        <li>
            <a href="#" class="dropdown-toggle"><span class="icon mif-compass"></span></a>
            <ul class="tools-menu horizontal" data-role="dropdown">
                <li><a href="#"><span class="icon mif-home"></span></a></li>
                <li><a href="#" class="dropdown-toggle"><span class="icon mif-compass"></span></a>
                    <ul class="tools-menu" data-role="dropdown">
                        <li><a href="#"><span class="icon mif-home"></span></a></li>
                        <li><a href="#"><span class="icon mif-compass"></span></a></li>
                        <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
                        <li><a href="#"><span class="icon mif-file-empty"></span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
                <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
            </ul>
        </li>
        <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
        <li><a href="#"><span class="icon mif-file-empty"></span></a></li>
    </ul>

    <ul class="tools-menu horizontal compact open">
        <li><a href="#"><span class="icon mif-home"></span></a></li>
        <li><a href="#" class="dropdown-toggle"><span class="icon mif-compass"></span></a>
            <ul class="tools-menu compact" data-role="dropdown">
                <li><a href="#"><span class="icon mif-home"></span></a></li>
                <li><a href="#" class="dropdown-toggle"><span class="icon mif-compass"></span></a>
                    <ul class="tools-menu compact horizontal" data-role="dropdown">
                        <li><a href="#"><span class="icon mif-home"></span></a></li>
                        <li><a href="#"><span class="icon mif-compass"></span></a></li>
                        <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
                        <li><a href="#"><span class="icon mif-file-empty"></span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
                <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
            </ul>
        </li>
        <li><a href="#"><span class="icon mif-bubbles"></span></a></li>
        <li><a href="#"><span class="icon mif-file-empty"></span></a></li>
    </ul>
</div>

<div class="mt-10 text-center" id="skills" data-role="template" data-template-data="templateData">
    <h3>My skills</h3>
    <% if(this.showSkills) { %>
    <ul>
        <% for(var i = 0; i < this.skills.length; i++) { %>
        <li><% this.skills[i] %></li>
        <% } %>
    </ul>
    <% } else { %>
    <span>Nothing to show</span>
    <% } %>
</div>

<div class="mt-10 text-center">
    <span class="mif-checkmark"></span>
</div>

<div class="mt-10 text-center">
    <input data-role="switch" />
    <input data-role="switch" checked />
    <input data-role="switch" disabled />
</div>

<div class="mt-10 text-center">
    <input class="metro-input" style="width: 60%"/>
</div>

<div class="mt-10">
    <div class="example">
        <input type="text"
               data-role="input-mask"
               data-mask="+38 (___) ___-____"
               data-editable-start="5"
               data-pattern="\d"
               value="+38 (123) 456-7890"
               data-label="Phone number:"
        >
        <input type="text"
               data-role="input-mask"
               data-mask="__/__/____"
               data-pattern="\d"
               value=""
               data-label="Date:"
        >
        <input type="text"
               data-role="input-mask"
               data-mask="__:__"
               data-pattern="\d"
               value=""
               data-label="Time:"
        >
        <input type="text"
               data-role="input-mask"
               data-mask="**** **** **** ****"
               data-placeholder="*"
               data-pattern="\d"
               data-label="Credit card:"
        >
        <input type="text"
               data-role="input-mask"
               data-mask="____-_AB_-_CD_-____"
               data-pattern="\w"
               data-label="Custom:"
               data-on-char="changeChar"
        >
        <script>
            function changeChar(key){
                return (""+key).toUpperCase()
            }
        </script>
        <input type="text"
               data-role="input-mask"
               data-mask="____-_AB_-_CD_-____"
               data-label="Custom:"
        >
    </div>
</div>

<div class="mt-10">
    <div class="remark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum maxime modi quam quis! Architecto atque autem consequatur debitis, enim ex facere mollitia odio omnis sit. Consequuntur iure quis recusandae?
    </div>
    <div class="remark alert">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum maxime modi quam quis! Architecto atque autem consequatur debitis, enim ex facere mollitia odio omnis sit. Consequuntur iure quis recusandae?
    </div>
    <div class="remark warning">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum maxime modi quam quis! Architecto atque autem consequatur debitis, enim ex facere mollitia odio omnis sit. Consequuntur iure quis recusandae?
    </div>
    <div class="remark success">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum maxime modi quam quis! Architecto atque autem consequatur debitis, enim ex facere mollitia odio omnis sit. Consequuntur iure quis recusandae?
    </div>
    <div class="remark info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum maxime modi quam quis! Architecto atque autem consequatur debitis, enim ex facere mollitia odio omnis sit. Consequuntur iure quis recusandae?
    </div>
</div>

<div class="mt-10">
    <div data-role="progress" data-value="35" class="mt-2"></div>
    <div data-role="progress" data-value="35" data-variant="small" class="mt-2"></div>
    <div data-role="progress" data-use-buffer="true" data-value="35" data-buffer="60" class="mt-2"></div>
    <div data-role="progress" data-use-buffer="true" data-value="35" data-buffer="60" data-variant="small" class="mt-2"></div>
    <div data-role="progress" data-use-buffer="true" data-use-load="true" data-value="35" data-buffer="75" class="mt-2"></div>
    <div data-role="progress" data-use-buffer="true" data-use-load="true" data-value="35" data-buffer="75" data-variant="small" class="mt-2"></div>
    <div data-role="progress" data-type="line" class="mt-2"></div>
    <div data-role="progress" data-type="line" data-variant="small" class="mt-2"></div>
</div>

<div class="mt-10 d-flex flex-align-center flex-justify-center">
    <form data-role="form" action="javascript:">
        <div class="form-group">
            <input type="text" data-validate="length=5" name="input1">
        </div>
        <div class="form-group">
            <input type="submit">
        </div>
    </form>
</div>

<div class="mt-10 d-flex flex-align-center">
    <div data-role="analog-clock" data-size="200"></div>
</div>


<div class="mt-10 text-center">
    <div data-role="counter" class="display4">-1000,1000</div>
</div>

<div data-role="cookie-disclaimer">
    Our website uses cookies to monitor traffic on our website and ensure that we can provide our customers with the best online experience possible.
</div>

<div class="mt-10">
    <div data-role="html-container" data-src="data.html" data-cors="no-cors"></div>
</div>

<div class="mt-10 text-center">
    <style>
        .te-odd {
            color: var(--color-cyan);
        }
    </style>
    <div data-role="tokenizer">Tokenized text</div>
</div>

<div class="mt-10 d-flex flex-justify-center flex-align-start">
    <div data-role="calendar" data-multi-select="true" data-show-week-number="false" data-locale="ua-UK"></div>
    <div data-role="calendar" data-wide="true" class="ml-1" data-on-draw-day="calendarDrawDayTest"></div>
</div>

<div class="mt-10 d-flex flex-justify-center flex-align-start">
    <div data-role="calendar" data-multi-select="true" data-compact="true"></div>
    <div data-role="calendar" data-wide="true" class="ml-1" data-compact="true"></div>
</div>

<div class="mt-10 text-center">
    <div class="toolbar">
        <button class="tool-button">
            <span class="button-icon"><span class="mif-floppy-disk "></span></span>
        </button>
        <button class="tool-button">
            <span class="button-icon"><span class="mif-checkmark "></span></span>
        </button>
        <button class="tool-button">
            <span class="button-icon"><span class="mif-printer "></span></span>
        </button>
        <button class="tool-button">
            <span class="caption"><span class="">Open File</span></span>
        </button>
        <button class="tool-button">
            <span class="button-icon"><span class="mif-folder-open "></span></span>
            <span class="caption">Open File</span>
        </button>
        <button class="tool-button disabled">
            <span class="button-icon"><span class="mif-pencil "></span></span>
            <span class="caption">Edit File</span>
        </button>
    </div>
</div>

<div class="mt-10 text-center">
    <button class="shortcut">
        <span class="button-icon"><span class="mif-bell ani-ring d-inline-block"></span></span>
        <span class="caption">Rocket</span>
    </button>
    <button class="shortcut primary">
        <span class="button-icon"><span class="mif-rocket"></span></span>
        <span class="caption">Rocket</span>
    </button>
    <button class="shortcut warning">
        <span class="button-icon"><span class="mif-rocket"></span></span>
        <span class="caption">Rocket</span>
    </button>
    <button class="shortcut alert">
        <span class="button-icon"><span class="mif-rocket"></span></span>
        <span class="caption">Rocket</span>
    </button>
    <button class="shortcut success">
        <span class="button-icon"><span class="mif-rocket"></span></span>
        <span class="caption">Rocket</span>
    </button>
</div>

<div class="mt-10 text-center">
    <div>
        <button class="image-button">
            <span class="button-icon"><span class="mif-rocket"></span></span>
            <span class="caption">Rocket</span>
        </button>
        <button class="image-button icon-right">
            <span class="button-icon"><span class="mif-rocket"></span></span>
            <span class="caption">Rocket</span>
        </button>
    </div>

    <div class="button-container">
        <button class="image-button"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
        <button class="image-button primary"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
        <button class="image-button secondary"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
        <button class="image-button success"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
        <button class="image-button warning"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
        <button class="image-button alert"><span class="button-icon"><span class="mif-share "></span></span><span
                class="caption"><span class="">Share It</span></span></button>
    </div>
</div>

<div class="mt-10 text-center">
    <div class="button-container">
        <div class="info-button">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
        <div class="info-button">
            <button class="info-button-primary"><span class="mif-star-full mr-2"></span> Stars</button>
            <a href="#" class="info-button-secondary">7.123</a></div>
    </div>
    <div class="button-container">
        <div class="info-button primary">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
        <div class="info-button secondary">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
        <div class="info-button success">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
        <div class="info-button warning">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
        <div class="info-button alert">
            <button class="info-button-primary">Stars</button>
            <a href="#" class="info-button-secondary">7.123</a>
        </div>
    </div>
</div>

<div class="mt-10 clear-float d-flex flex-justify-center">
    <ul class="dropdown-menu" style="position: relative; display: block">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li>
            <a href="#" class="dropdown-toggle marker-on">Item 3</a>
            <ul data-role="dropdown" class="dropdown-menu">
                <li><a href="#">Sub Item 1</a></li>
                <li><a href="#">Sub Item 2</a></li>
                <li><a href="#">Sub Item 3</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#"><span class="mif-home icon"></span> Item 4</a></li>
        <li><a href="#"><span class="mif-checkmark icon"></span>Item 5</a></li>
        <li><a href="#">Item 6</a></li>
    </ul>
</div>

<div class="mt-10 text-center">
    <button class="button" data-role="audio-button" data-src="//metroui.org.ua/data/modem.mp3">Play</button>
    <button class="button" onclick="Metro5.playSound('//metroui.org.ua/data/modem.mp3')">Play</button>
</div>

<div class="mt-10">
    <ul class="breadcrumbs flex-justify-center">
        <li class="crumb"><a href="#" class="crumb-link">Home</a></li>
        <li class="crumb"><a href="#" class="crumb-link">Products</a></li>
        <li class="crumb"><a href="#" class="crumb-link">Download</a></li>
        <li class="crumb"><a href="#" class="crumb-link">Windows 11</a></li>
    </ul>
</div>

<div class="mt-10">
    <div data-role="button-group" class="flex-justify-center" data-active-class="bg-cyan fg-white">
        <button class="button">Button 1</button>
        <button class="button">Button 2</button>
        <button class="button">Button 3</button>
    </div>

    <div data-role="button-group" class="flex-justify-center" data-active-class="bg-cyan fg-white"
         data-single-button="false">
        <button class="button">Button 1</button>
        <button class="button">Button 2</button>
        <button class="button">Button 3</button>
    </div>
</div>

<div class="mt-10 d-flex flex-justify-center">
    <ul class="vertical-menu" style="width: 200px;">
        <li class="menu-title">General</li>
        <li><a href="#"><span class="mif-home icon"></span> Home</a></li>
        <li class="menu-title">Products</li>
        <li><a href="#"><span class="mif-windows icon"></span> Windows</a></li>
        <li><a href="#"><span class="mif-library icon"></span> Office 365</a></li>
        <li><a href="#"><span class="mif-skype icon"></span> Skype</a></li>
        <li class="menu-title">Support</li>
        <li>
            <a href="#" data-hotkey="Alt+F1" class="dropdown-toggle">Community</a>
            <ul class="vertical-menu" data-role="dropdown">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
        </li>
        <li class="menu-title">Shop</li>
        <li><a href="#"><span class="mif-cart icon"></span> Cart</a></li>
    </ul>
</div>

<div class="row mt-10">
    <div class="cell-md-4">
        <button class="button dropdown-toggle">Dropdown</button>
        <div id="dropdown1" data-role="dropdown" style="background: #0b98dc;">
            <div style="height: 300px">Test block</div>
        </div>
    </div>
    <div class="cell-md-4">
        <a class="button dropdown-toggle marker-on">Dropdown</a>
        <div id="dropdown2" data-role="dropdown" style="background: #0b98dc;">
            <div style="height: 300px">Test block</div>
        </div>
    </div>
    <div class="cell-md-4">
        <a class="button dropdown-toggle marker-on">Dropdown</a>
        <div id="dropdown3" data-role="dropdown" style="background: #0b98dc;">
            <div style="height: 300px">Test block</div>
        </div>
    </div>
</div>

<div class="mt-10 text-center hamburgers">
    <button data-role="hamburger" data-active="chevron-down"></button>
    <button data-role="hamburger" data-active="chevron-up"></button>
    <button data-role="hamburger" data-active="arrow-left"></button>
    <button data-role="hamburger" data-active="arrow-right"></button>
    <button class="transform-button" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button right" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button up" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button down" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button top-left" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button top-right" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button bottom-left" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
    <button class="transform-button bottom-right" onclick="$(this).toggleClass('transform')">
        <span></span>
    </button>
</div>

<div class="text-center mt-10">
    <h4>Push Buttons</h4>
    <button class="button">Button</button>
    <button class="button primary">Button</button>
    <button class="button secondary">Button</button>
    <button class="button success">Button</button>
    <button class="button warning">Button</button>
    <button class="button alert">Button</button>
</div>
<div class="text-center mt-10">
    <button class="button mini">Button</button>
    <button class="button small">Button</button>
    <button class="button medium">Button</button>
    <button class="button large">Button</button>
</div>
<div class="text-center mt-10">
    <button class="button outline">Button</button>
    <button class="button primary outline">Button</button>
    <button class="button secondary outline">Button</button>
    <button class="button success outline">Button</button>
    <button class="button warning outline">Button</button>
    <button class="button alert outline">Button</button>
</div>

<div class="m-10 d-flex flex-justify-center">
    <img data-role="gravatar" data-email="serhii@pimenov.com.ua" data-size="124">
</div>

<div class="m-10">
    <div data-role="accordion" data-on-create="console.log('Hello from accordion!')">
        <div title="Frame 1" class="active p-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet blanditiis cumque
            doloremque enim illum in ipsam itaque maxime nulla perferendis placeat porro praesentium, quod repellendus
            sed, totam veritatis.
        </div>
        <div class="p-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi at deleniti explicabo fugit in incidunt
            itaque iusto labore minus molestiae nobis odit repellat sunt tenetur veniam veritatis voluptate
            voluptatibus?
        </div>
        <div class="p-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt fugit natus nisi officia officiis
            quaerat vel! Assumenda, at consequuntur est, fugit itaque iure laborum minus molestiae nulla ut veritatis.
        </div>
    </div>
</div>

<div class="mt-10">
    <h2 class="text-center">Activities</h2>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="simple"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="simple"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="simple"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="simple"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div data-role="activity" data-type="metro"></div>
        </div>
        <div class="cell-sm-3">
            <div data-role="activity" data-style="dark" data-type="metro"></div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div data-role="activity" data-style="light" data-type="metro"></div>
        </div>
        <div class="cell-sm-3">
            <div data-role="activity" data-style="color" data-type="metro"></div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="square"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="square"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="square"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="square"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="cycle"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="cycle"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="cycle"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="cycle"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="ring"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="ring"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="ring"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="ring"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="atom"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="atom"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="atom"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="atom"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-type="bars"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="dark" data-type="bars"></div>
            </div>
        </div>
        <div class="cell-sm-3 bg-dark">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="light" data-type="bars"></div>
            </div>
        </div>
        <div class="cell-sm-3">
            <div class="d-flex flex-justify-center">
                <div data-role="activity" data-style="color" data-type="bars"></div>
            </div>
        </div>
    </div>
</div>
-->
<!--<script src="../lib/metro5.min.js"></script>-->
<script src="index.js" type="module"></script>
</body>
</html>