
@zindex-selectedCheck:      100;
@zindex-absolute:           500;
@zindex-dropdown:           1000;
@zindex-sticky:             1020;
@zindex-fixed:              1030;
@zindex-modal-backdrop:     1040;
@zindex-modal:              1050;
@zindex-popover:            1060;
@zindex-tooltip:            1070;
@zindex-top:                1080;
@zindex-notify:             1085;
@zindex-charms:             1090;
@zindex-overlay:            2000;
@zindex-fullscreen:         2147483647;